<div id="orderModal" class="order-modal-container animated-modal">
    <form class="banner-form order-modal js-banner-form">
        <h2 class="banner-form-title f-playfair text-primary">Заказать звонок</h2>
        <div class="row">
            <fieldset class="banner-form-field d-block col-12">
                <input class="banner-form-input" name="orderName-1" id="orderName-1" type="text" required>
                <label class="banner-form-label font-weight-thin" for="orderName-1">Ваше имя</label>
            </fieldset>
            <fieldset class="banner-form-field d-block col-12 col-md-6 col-lg-12 banner-form-field--phone">
                <input class="banner-form-input js-mask-phone" name="orderPhone-1" id="orderPhone-1" type="text" required>
                <label class="banner-form-label font-weight-thin" for="orderPhone-1">Номер телефона</label>
            </fieldset>
        </div>
        <button class="btn order-modal-btn banner-form-btn text-white text-uppercase">отправить заявку</button>
    </form>
</div>
<div id="subscribe" class="order-modal-container animated-modal">
    <form class="banner-form order-modal js-banner-form">
        <h2 class="banner-form-title f-playfair text-primary">Запишитесь сейчас</h2>
        <div class="row">
            <fieldset class="banner-form-field d-block col-12">
                <input class="banner-form-input" name="orderName" id="orderName" type="text" required>
                <label class="banner-form-label font-weight-thin" for="orderName">Ваше имя</label>
            </fieldset>
            <fieldset class="banner-form-field d-block col-12 col-md-6 col-lg-12 banner-form-field--phone">
                <input class="banner-form-input js-mask-phone" name="orderPhone" id="orderPhone" type="text" required>
                <label class="banner-form-label font-weight-thin" for="orderPhone">Номер телефона</label>
            </fieldset>
            <fieldset class="banner-form-field d-block col-12 col-md-6 col-lg-12">
                <input class="banner-form-input" name="orderMail" id="orderMail" type="email" required>
                <label class="banner-form-label font-weight-thin" for="orderMail">E-mail</label>
            </fieldset>
        </div>
        <button class="btn order-modal-btn banner-form-btn text-white text-uppercase">отправить заявку</button>
    </form>
</div>