.order-modal {
    &-container {
        display: none;
        padding: 0px;
        overflow: visible;
        .fancybox-button {
            top: 10px;
            right: 10px;
        }
        .banner-form {
            margin: 0;
        }
    }
}