<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%
    <div class="wrapper">
        <header class="header-main" role="banner">
            {{> header/header header.index}}
        </header>
        
        <main class="main" role="main">
            {{> index/index index}}
        </main>
        
        <footer class="footer-main" role="complementary">
            {{> footer/footer footer}}
        </footer>
    </div>
    <svg class="visually-hidden" hidden xmlns="http://www.w3.org/2000/svg">
        <symbol id="logo" viewBox="0 0 393.9 80.7">
            <path d="M384,16.92h3.7V9.51H384c-1,0-1.7,0.3-2.4,1c-0.6,0.7-0.9,1.6-0.9,2.7s0.3,2,0.9,2.7
                C382.2,16.62,383,16.92,384,16.92 M393.7,4.41v27.63h-6V21.93h-2.3L381,32.04h-6.7l5.1-10.91c-1.5-0.7-2.7-1.7-3.6-3.1
                c-0.8-1.4-1.3-3-1.3-4.71c0-2.4,0.8-4.51,2.5-6.21s3.9-2.6,6.6-2.6h10.1V4.41z M358.5,20.53h5l-1.4-5.21c-0.3-1.1-0.7-2.7-1.1-4.71
                c-0.3,1.5-0.6,3-1.1,4.71L358.5,20.53z M349.2,32.04l8.3-27.63h6.9l8.3,27.63h-6.1l-1.8-6.71h-7.7l-1.8,6.71H349.2z M325.5,32.04
                V4.41h6v11.11h8.5V4.41h6v27.63h-6V20.43h-8.5v11.51h-6V32.04z M295.1,27.03h2.4c1.3-1.6,2.3-4.61,3.1-9.11
                c0.8-4.51,1.3-9.01,1.3-13.52h17.4v22.63h2.9v9.51l-5.5,0.8v-5.31h-16.3v4.51l-5.5,0.8V27.03H295.1z M304,27.03h9.4V9.41h-6
                c-0.2,3.5-0.7,7.01-1.3,10.51C305.4,23.33,304.7,25.73,304,27.03z M282,27.43c3.3,0,4.9-2.2,4.9-6.71v-5.01
                c0-4.51-1.6-6.71-4.9-6.71s-4.9,2.2-4.9,6.71v5.01C277.1,25.23,278.7,27.43,282,27.43z M271.1,21.13v-5.81c0-3.6,1-6.51,3.1-8.41
                c2.1-2,4.7-3,7.8-3c3.2,0,5.8,1,7.9,3s3.1,4.81,3.1,8.41v5.81c0,3.7-1,6.51-3.1,8.41c-2.1,2-4.7,2.9-7.9,2.9c-3.2,0-5.8-1-7.8-3
                C272.1,27.63,271.1,24.83,271.1,21.13z M255.5,16.92h3.6c1,0,1.7-0.3,2.3-1c0.6-0.7,0.9-1.6,0.9-2.7s-0.3-2-0.9-2.7s-1.4-1-2.3-1
                h-3.6V16.92z M249.5,32.04V4.41h9.8c2.7,0,4.9,0.9,6.6,2.6s2.5,3.8,2.5,6.21s-0.8,4.51-2.5,6.21s-3.9,2.5-6.6,2.5h-3.8v10.11H249.5z
                M232,20.53h5l-1.4-5.21c-0.3-1.1-0.7-2.7-1.1-4.71c-0.3,1.5-0.6,3-1.1,4.71L232,20.53z M222.7,32.04L231,4.41h6.9l8.3,27.63h-6.1
                l-1.8-6.71h-7.7l-1.8,6.71H222.7z M199,32.04V4.41h6v11.11h8.5V4.41h6v27.63h-6V20.43H205v11.51h-6V32.04z M178.1,32.04l-0.7-5.01h6
                c0.7,0,1.2-0.3,1.6-0.8c0.4-0.5,0.6-1.3,0.8-2.4l0.2-1h-2c-4.5,0-7.1-2.6-8-7.71l-1.8-10.81h6l1.7,10.41c0.3,2.1,1.1,3.1,2.4,3.1
                h2.6l2.4-13.52h6l-3.6,19.92c-0.9,5.11-3.6,7.71-8,7.71h-5.6V32.04z M145.5,27.03h2.4c1.3-1.6,2.3-4.61,3.1-9.11s1.3-9.01,1.3-13.52
                h17.4v22.63h2.9v9.51l-5.5,0.8v-5.31h-16.3v4.51l-5.5,0.8V27.03H145.5z M154.4,27.03h9.4V9.41h-6c-0.2,3.5-0.7,7.01-1.3,10.51
                C155.8,23.33,155.1,25.73,154.4,27.03z M130.6,32.04h-6V21.23l-2.2-0.9l-4.7,11.61h-7.1l6.3-13.82c-1.5-0.8-2.6-2.3-3.1-4.41
                l-2.4-9.41h6l2,7.51c0.2,0.8,0.5,1.4,0.9,1.8s1,0.8,1.9,1l2.5,0.9V4.41h6v11.21l2.5-0.9c0.8-0.3,1.5-0.6,1.9-1
                c0.4-0.4,0.7-1,0.9-1.8l2-7.51h6l-2.4,9.41c-0.6,2.1-1.6,3.6-3.1,4.41l6.3,13.82h-7.1l-4.8-11.61l-2.2,0.9v10.71H130.6z M91.3,32.04
                V4.41h16.5v5.11H97.3v6.11h8.8l-0.2,4.91h-8.6v6.41h10.9v5.11H91.3z M56.5,32.04l2.9-27.63h6.8L71,17.72c0.2,0.6,0.5,1.8,1,3.5
                c0.3-1.3,0.6-2.5,1-3.5l4.7-13.32h6.8l2.9,27.63h-6l-1.1-14.12c-0.1-1-0.2-2.7-0.3-5.31c-0.5,2.1-1,3.8-1.5,5.21l-3.4,9.51h-6.4
                l-3.4-9.51c-0.6-1.6-1.1-3.4-1.5-5.31c-0.1,2.1-0.1,3.9-0.2,5.31l-1.2,14.12h-5.9V32.04z M388.7,69.89V46.06h5.2v23.73h-5.2V69.89z
                M378.4,59.17h-3.1v6.41h3.1c0.8,0,1.5-0.3,2-0.9c0.5-0.6,0.8-1.4,0.8-2.3c0-1-0.3-1.7-0.8-2.3S379.2,59.17,378.4,59.17z
                M370.1,69.89V46.06h5.2v8.81h3.3c2.3,0,4.2,0.7,5.7,2.2c1.4,1.5,2.1,3.2,2.1,5.31c0,2.1-0.7,3.9-2.1,5.31c-1.4,1.5-3.3,2.2-5.7,2.2
                C378.6,69.89,370.1,69.89,370.1,69.89z M344.6,70.19l-0.2-4.31c0.9-0.2,1.6-0.4,2.2-0.7c0.5-0.3,1.1-0.9,1.6-1.6
                c0.5-0.8,0.9-1.9,1.1-3.3s0.4-3.3,0.6-5.61c0.1-2.3,0.2-5.11,0.2-8.61h15.5v23.73h-5.2V50.36H355c0,2.5-0.1,4.71-0.2,6.71
                c-0.2,1.9-0.4,3.6-0.6,5.01c-0.3,1.4-0.6,2.5-1.1,3.5c-0.5,1-1,1.7-1.5,2.3c-0.5,0.6-1.1,1-1.9,1.4c-0.8,0.3-1.5,0.6-2.3,0.7
                C346.6,70.09,345.7,70.19,344.6,70.19z M331.8,59.87h4.3l-1.2-4.51c-0.3-1-0.6-2.3-0.9-4c-0.2,1.3-0.5,2.6-0.9,4L331.8,59.87z
                M323.8,69.89l7.1-23.73h6l7.1,23.73h-5.2l-1.6-5.71h-6.6l-1.6,5.71H323.8z M314.3,59.27h-3.5v6.31h3.5c0.8,0,1.5-0.3,2-0.9
                c0.5-0.6,0.8-1.4,0.8-2.3c0-1-0.2-1.7-0.7-2.3C315.8,59.57,315.1,59.27,314.3,59.27z M310.8,50.36v4.61h3.7c2.3,0,4.2,0.7,5.7,2.1
                c1.4,1.4,2.1,3.2,2.1,5.21c0,2.1-0.7,3.9-2.1,5.31c-1.4,1.5-3.3,2.2-5.7,2.2h-8.8V46.06h14.4v4.31
                C320.1,50.36,310.8,50.36,310.8,50.36z M294.4,59.27h-3.5v6.31h3.5c0.8,0,1.5-0.3,2-0.9c0.5-0.6,0.8-1.4,0.8-2.3
                c0-1-0.2-1.7-0.7-2.3C295.9,59.57,295.2,59.27,294.4,59.27z M290.9,50.36v4.61h3.7c2.3,0,4.2,0.7,5.7,2.1c1.4,1.4,2.1,3.2,2.1,5.21
                c0,2.1-0.7,3.9-2.1,5.31c-1.4,1.5-3.3,2.2-5.7,2.2h-8.8V46.06h14.4v4.31C300.2,50.36,290.9,50.36,290.9,50.36z M270.7,59.87h4.3
                l-1.2-4.51c-0.3-1-0.6-2.3-0.9-4c-0.2,1.3-0.5,2.6-0.9,4L270.7,59.87z M262.7,69.89l7.1-23.73h6l7.1,23.73h-5.2l-1.6-5.71h-6.6
                l-1.6,5.71H262.7z M243.2,69.89V46.06h5.2v9.71l2.7-0.8c0.7-0.2,1.3-0.5,1.6-0.9s0.6-0.9,0.8-1.5l1.8-6.41h5.1l-2.1,8.01
                c-0.5,1.8-1.4,3.1-2.7,3.8l6.1,12.01h-6.1l-4.8-10.11l-2.4,0.9v9.21h-5.2V69.89z M222.6,56.87h3.2v-6.41h-3.2c-0.8,0-1.5,0.3-2,0.9
                s-0.8,1.4-0.8,2.3c0,1,0.3,1.7,0.8,2.3C221,56.57,221.7,56.87,222.6,56.87z M230.9,46.06v23.73h-5.2v-8.71h-2l-3.8,8.71h-5.8
                l4.4-9.41c-1.3-0.6-2.3-1.5-3.1-2.7c-0.7-1.2-1.1-2.6-1.1-4c0-2.1,0.7-3.9,2.2-5.41c1.4-1.5,3.3-2.2,5.6-2.2H230.9z M211.1,46.06
                v23.73h-5.2V59.67c0-1.3,0-2.5,0.1-3.7l-8.7,13.82h-4.2V46.06h5.2v10.31c0,1.1,0,2.3-0.1,3.6l8.7-13.92H211.1z M163.2,69.89
                l2.5-23.73h5.9l4.1,11.51c0.2,0.5,0.5,1.6,0.8,3.1c0.3-1.1,0.5-2.2,0.8-3.1l4.1-11.51h5.9l2.5,23.73h-5.1l-1-12.22
                c-0.1-0.8-0.2-2.3-0.2-4.51c-0.4,1.8-0.8,3.3-1.3,4.51l-2.9,8.21h-5.5l-2.9-8.21c-0.5-1.4-0.9-2.9-1.3-4.51c0,1.9-0.1,3.4-0.2,4.61
                l-1,12.22h-5.2V69.89z M146.1,69.89V46.06h14.2v4.41h-9v5.31h7.6l-0.2,4.21h-7.4v5.51h9.3v4.41H146.1z M119.9,65.58h2.1
                c1.1-1.3,2-4,2.7-7.91s1.1-7.81,1.2-11.61h15v19.52h2.5v8.21l-4.7,0.7v-4.61h-14v3.9l-4.7,0.7v-8.91H119.9z M127.5,65.58h8.1V50.36
                h-5.2c-0.2,3-0.6,6.11-1.1,9.01C128.8,62.38,128.2,64.48,127.5,65.58z M106.9,59.87h4.3l-1.2-4.51c-0.3-1-0.6-2.3-0.9-4
                c-0.2,1.3-0.5,2.6-0.9,4L106.9,59.87z M98.9,69.89l7.1-23.73h6l7.1,23.73h-5.2l-1.6-5.71h-6.6l-1.6,5.71H98.9z M79.4,69.89V46.06
                h5.2v9.71l2.7-0.8c0.7-0.2,1.3-0.5,1.6-0.9c0.3-0.4,0.6-0.9,0.8-1.5l1.8-6.41h5.1l-2.1,8.01c-0.5,1.8-1.4,3.1-2.7,3.8l6.1,12.01
                h-6.1L87,59.67l-2.4,0.9v9.21h-5.2V69.89z M64.4,59.87h4.3l-1.2-4.51c-0.3-1-0.6-2.3-0.9-4c-0.2,1.3-0.5,2.6-0.9,4L64.4,59.87z
                M56.4,69.89l7.1-23.73h6l7.1,23.73h-5.2l-1.6-5.71h-6.6l-1.6,5.71H56.4z M39.9,40.25c-0.3-0.6-9.1-0.9-12.8-1l0,0
                c0.1-3.3-0.6-5.01-0.4-6.91c0.4-0.6,0.9-0.7,1.6-1.2c3.1-1.8,3.5-2,5.6-2.6c2-0.4,5.2-0.8,7.4-0.3c0.2,0.1,0.3-0.2,0.1-0.3
                c-0.8-0.3-3.3-0.9-4.2-0.9c-0.1-0.3,0.2-0.5,0.8-0.8c0.9-0.5,2.2-1.2,3.2-1.4c0.2,0,0.3-0.3,0-0.3c-0.5,0-1.9,0.1-3.2,0.5
                c-1.5,0.5-2.9,1.3-4.1,1.8c-2.9,0.4-6.5,1.5-6.5,1.3s3.3-4.51,5.6-4.61c0.1,0,0.8-0.2,1.7-0.4c2.8-0.8,5.7-1.5,8.6-1.3
                c0.3,0,0.3-0.3,0-0.3c-1.9-0.2-4.1-0.2-5.7,0.1c-0.6,0.1-1.2,0-1.9-0.3c-0.3-1,0.4-1.6,1-2.3c1-1.3,2.3-2.9,2.9-3.8
                c0.2-0.3-0.1-0.6-0.4-0.2c-1.7,2.5-3.5,3.7-5.6,5.61c-0.7,0.6-6.8,4.31-6.8,3.1c0-1.2,0.5-2.2,0.5-2.9c0.1-1.1,0.6-1,1.1-1.5
                s4.1-4.11,3.7-4.41c-0.1-0.1-0.2,0-0.3,0.1c-0.5,0.4-3.3,3.1-4.3,2.7c-0.1-0.7,0.6-1.7,1-2.3c0.3-0.4,0.6-0.6,0.9-1.1
                c0.3-0.4,0.5-0.9,1-1.4c1.4-1.5,2.7-3.5,3.3-3.7c0.1,0,0.4-0.3-0.1-0.2c-0.7,0.1-2.5,2.4-3.3,2.6c0-0.8,0.4-1.7,0.6-2.6
                c0.2-0.8,0.4-1.5,0.4-3.1c0-0.2-0.3-0.4-0.3,0c0,1-0.6,2.6-1.1,3.7c-0.3,0.7-0.4,1.2-0.7,1.9c-0.2,0.5-0.3,1.2-0.6,1.6
                c-0.7,1.2-0.8,1.1-1.5,1.9c-0.4,0.5-0.9,1.2-1.2,1.9c-0.1,0.2-0.9,2.2-1.1,2c-0.1-0.1-0.6-0.5-1.3-3.5c-0.2-0.7-0.4-1.7-0.6-2.4
                c-0.2-1.4,0.2-1.2,0.9-2.3c0.8-1.2,2.1-3.2,2.2-4.11c0.2-1.5-0.1-4.71-0.2-6.41c0-0.1-0.1-0.2-0.2-0.2s-0.2,0.1-0.2,0.2
                c0.2,1.7-0.1,4-0.4,5.81c-0.2,0.7-0.5,1.4-0.9,2.1c-0.4,0.6-0.7,1-1.4,1.2c-1.5-0.4-1.8-1.2-2.4-2.6c-0.5-1.1-0.9-2.3-1.1-3.1
                c-0.1-0.5-0.3-0.9-0.4-1.1c-0.1-0.2-0.4-0.3-0.3,0.1c0.1,0.3,0.2,0.7,0.3,1.2c0.3,1.3,0.9,5.01,1.6,6.41c0.3,0.6,0.4,0.9,0.3,1.6
                c-0.2,1.5-0.5,3.7-1,4.41c-0.7-0.2-1.7-1.9-2-2.3c-0.3-0.6-0.9-1.3-1.3-2.1c-0.3-0.6,0-0.9,0.1-1.6c0.2-1.3,0.3-4.21,0.3-5.51
                c0-0.4,0-0.8,0-1.2c0-0.3-0.3-0.3-0.3-0.1c-0.1,0.8-0.3,2.1-0.6,2.8c-0.2-0.5-0.5-0.8-0.6-1.3c-0.4-1.4-1.2-2.7-1.9-3.4
                c-0.1-0.1-0.2-0.1-0.3,0C13,1.7,13,1.9,13.1,2c1.6,2.6,2.8,5.91,1.7,7.41c-2.8,1.1-6.3-3.3-7.3-5.71C7.4,3.4,7.2,3.5,7.2,4
                c0.2,1.4,1.2,3.8,2.3,4.51c0.5,0.3,0.8,0.7,0.8,0.8c-0.2,0.6-3.7,0.2-4.8,0.1c-0.1,0-0.3,0-0.4,0c0,0-0.1,0-0.1,0.1v0.1
                c0.1,0.1,0.3,0.1,0.5,0.2c2.4,0.4,4.6,0.9,5.6,0.9c0.9,0,1.4,0.1,2.2,0.5c2.4,1.3,4.9,4.61,4.2,7.61c-1.4,0.2-3.7-1-5.3-1.9
                c-0.5-0.3-1-0.6-1.3-1c-0.4-0.6-0.6-1.4-0.6-2.3c0-0.3-0.3-0.3-0.3,0c0,0.4,0,0.7,0,1c0,0.6,0.1,0.4,0.1,1c-0.3,0-0.8-0.1-1.2-0.2
                c-0.7-0.2-2.2-0.5-2.9-0.5c-0.3,0-0.4,0.3-0.1,0.3c0.6,0,1.8,0.3,2.6,0.6c0.5,0.2,0.8,0.3,1,0.3c0.4,0,1.1,0.6,1.9,1.2
                c1.5,1.1,3.8,2.5,5.4,4.21c0.5,0.5,0.5,0.7-0.3,1.1c-1,0.5-2.8,0.4-4.1,0.3c-2-0.2-3.9-2-5.1-3.5c-0.4-0.5-1-1.1-1.2-1.4
                c-0.1-0.3-0.4-0.1-0.3,0.1c0.2,0.4,0.5,1,1,1.6c0.3,0.4,1.2,1.3,1.2,1.7c-0.4,0.1-0.6-0.1-0.9-0.2c-1.3-0.7-2.6-0.9-3.4-1
                c-0.3,0-0.3,0.2,0,0.3c2.6,0.5,4.6,2.1,6.5,3.5c-1.1,1.9-4.8,1.3-6,1.5c-0.3,0-0.3,0.3,0,0.3c0.1,0,0.3,0,0.5,0c1.6,0,3.3,0.1,4.7,0
                c1.3-0.1,0.9,0,1.6,0.1c1.6,0.1,2.8,0.6,3.9,1.1c1.4,0.7,2.5,1.5,2.7,1.9c0.1,0.3,0.4,1,0.4,1.8c0.2,2.9-0.5,6.91-0.3,8.61
                c-3,0-13.6,0.4-13.9,1h36.1V40.25z M38,20.02c-0.4-1.8,2.1-3.2,3.5-2l0.1,0.1l-0.1,0.1c-0.2,0.2-0.3,0.4-0.4,0.6
                C40.5,20.12,39.6,20.63,38,20.02L38,20.02L38,20.02z M36.9,28.84c1-0.1,2,0.5,2.6,1.2c0.3,0.4,0.4,0.8,0.5,1.3c0,0.2,0.1,0.8,0.2,1
                l0.1,0.1h-0.2c-1,0.3-2.2-0.1-2.9-0.9C36.6,30.94,36.2,29.64,36.9,28.84L36.9,28.84L36.9,28.84z M8.9,27.23
                c-0.1,0.2-0.1,0.4-0.1,0.6c-0.1,0.8-0.6,1.5-1.4,1.8c-0.8,0.3-2.6,0.2-3-0.7v-0.1l0.1-0.1c0.6-0.4,0.9-1.3,1.5-1.6
                c0.9-0.4,1.9-0.4,2.8-0.2H9L8.9,27.23z M5,19.02c0,0.3-0.5,0.3-0.7,0.1c-0.6-0.5-1-0.3-1.6,0c-1,0.4-1.6,0.2-2.2-0.7
                c-0.1-0.2-0.2-0.3-0.4-0.4L0,17.92l0.1-0.1C1.3,15.52,5.3,16.32,5,19.02z M9.6,11.81c-0.2,0.4-0.5,0.7-0.7,1.1c-0.8,1-1.4,1-2.6,1
                c-0.4,0-0.9,0-1.3,0H4.8v-0.2c0.2-2.4,2.8-2.6,4.6-2.1h0.2L9.6,11.81z M31.9,7.91c-0.1-0.5,0-1,0.2-1.5c0.7-1.5,3.1-2.5,4.5-1.3
                l0.1,0.1l-0.1,0.1c-0.2,0.2-0.5,0.8-0.6,1.1c-0.7,1.3-2.6,2-4,1.6L31.9,7.91L31.9,7.91z M32.3,12.52c-0.2-2.1,2-3,3.7-2.1
                c0.5,0.3,0.8,0.7,1.1,1.1l0.1,0.1l-0.2,0.1c-0.1,0.1-0.2,0.1-0.2,0.2c-0.7,0.8-1.8,1-2.7,0.6c-0.4-0.2-0.7-0.1-1.1,0.2
                C32.8,12.82,32.3,12.82,32.3,12.52z M27,3.5c-0.1-0.5-0.1-1,0.2-1.4c0.2-0.3,0.5-0.6,0.8-0.8C28.5,1,29.6,0.7,30.2,1h0.1v0.1
                C30.1,3,29,3.9,27.1,3.5H27L27,3.5z M17.5,12.22c-0.4-1.3,0.6-2.6,2.1-2.2h0.1v0.1c0.1,1.4-0.6,2.3-2,2.2L17.5,12.22L17.5,12.22z
                M2.8,7.81c0.3-0.3,0.5-0.6,0.8-0.9c0.6-0.5,1.5-0.3,2.1,0c0.3,0.1,0.5-0.1,0.8,0h0.1v0.1c0.1,0.4,0,0.8-0.3,1.2
                c-0.3,0.5-0.8,0.6-1.4,0.6c-0.8,0-1.6-0.3-2.1-0.9l-0.1-0.1H2.8z M34.4,18.72c-1.5-0.7-1-3.3,0.5-3.8H35v0.1c0,0.2,0.3,0.5,0.4,0.8
                c0.3,0.9,0.1,2.4-0.9,2.9H34.4L34.4,18.72z M1.8,23.33c0.5-0.7,1.1-1.3,2-1.2c0.6,0,1.1,0.3,1.7,0.5c0.2,0.1,0.6,0.2,0.8,0
                c0.3-0.3,0.7,0,0.6,0.4c-0.2,1.1-1.4,1.9-2.4,1.9s-1.9-0.8-2.6-1.5L1.8,23.33L1.8,23.33z M9.8,3.6c0-0.1,0.1-0.1,0.2-0.2
                c0.8-0.1,1.5,0.1,2,0.7c0.1,0.1,0.2,0.3,0.3,0.5c0.2,0.4,0.3,0.8,0.5,1.3c0.1,0.2,0.2,0.6,0.4,0.7c0.5,0.2,0.7,0.5,0.2,0.8
                c-1.1,0.7-3.1-0.1-3.5-1.3c-0.2-0.6-0.2-1.4-0.1-2C9.8,3.9,9.8,3.7,9.8,3.6z M30.4,5.61c-0.3,0.5-0.8,1-1.4,1
                c-0.4,0-0.8-0.1-1.2-0.2c-0.1,0-0.4-0.1-0.5,0c-0.3,0.3-0.5,0-0.5-0.3c0.1-0.8,1-1.4,1.7-1.5s1.4,0.4,1.9,0.8V5.61L30.4,5.61z
                M27.5,10.41c-0.7-1.1-0.2-2.7,1.3-2.8h0.1v0.1c0.5,1.3,0.1,2.3-1.3,2.7H27.5L27.5,10.41z M10.3,19.42c1.4-0.5,3.3,0.5,3.3,2.1v0.1
                h-0.1c-1.8,0.3-2.9-0.2-3.2-2.1V19.42L10.3,19.42z M12.4,12.72c1,0.3,1.9,0.9,2.2,1.9c0.1,0.5,0.1,0.9-0.1,1.3
                c-0.1,0.3-0.2,0.6-0.2,0.9v0.2l-0.2-0.1c-1.7-0.6-2.6-2.6-1.9-4.21v-0.1L12.4,12.72z M32.5,19.02c-0.2,0.2-0.3,0.8-0.5,1.1
                c-0.7,1-2.4,1.8-3.5,1.1h-0.1v-0.1c-0.4-2,2.6-3.3,4.1-2.3l0.1,0.1L32.5,19.02z M24,13.92c-0.2-1.1,0.2-2,1.2-2.6
                c0.9-0.6,2.1-0.6,2.9,0l0.1,0.1l-0.1,0.1c-0.2,0.2-0.5,0.8-0.6,1.1c-0.4,0.8-1.1,1.3-2,1.5c-0.5,0.1-0.9,0.1-1.4,0L24,13.92
                L24,13.92z M19.8,3c2.1-1.1,4.9,0.6,4.6,3v0.1h-0.1c-0.4,0-0.9,0.1-1.4,0c-0.9-0.2-1.7-0.6-2.3-1.3c-0.4-0.5-0.5-1.1-0.8-1.6
                l-0.1-0.1L19.8,3z M15.4,3.1c-0.9-1-0.6-2.6,0.9-2.9h0.1v0.1c0.7,1.2,0.5,2.3-0.8,2.9L15.4,3.1L15.4,3.1z M39.9,40.45
                c-0.3,0.6-9.9,1-12.8,1l0,0c0.1,3.3-0.6,5.01-0.4,6.91c0.4,0.6,0.9,0.7,1.6,1.2c3.1,1.8,3.5,2,5.6,2.6c2,0.4,5.2,0.8,7.4,0.3
                c0.2-0.1,0.3,0.2,0.1,0.3c-0.8,0.3-3.3,0.9-4.2,0.9c-0.1,0.3,0.2,0.5,0.8,0.8c0.9,0.5,2.2,1.2,3.2,1.4c0.2,0,0.3,0.3,0,0.3
                c-0.5,0-1.9-0.1-3.2-0.5c-1.5-0.5-2.9-1.3-4.1-1.8c-2.9-0.4-6.5-1.5-6.5-1.3s3.3,4.51,5.6,4.61c0.1,0,0.8,0.2,1.7,0.4
                c2.8,0.8,5.7,1.5,8.6,1.3c0.3,0,0.3,0.3,0,0.3c-1.9,0.2-4.1,0.2-5.7-0.1c-0.6-0.1-1.2,0-1.9,0.3c-0.3,1,0.4,1.6,1,2.3
                c1,1.3,2.3,2.9,2.9,3.8c0.2,0.3-0.1,0.6-0.4,0.2c-1.7-2.5-3.5-3.7-5.6-5.61c-0.7-0.6-6.8-4.31-6.8-3.1s0.5,2.2,0.5,2.9
                c0.1,1.1,0.6,1,1.1,1.5s4.1,4.11,3.7,4.41c-0.1,0.1-0.2,0-0.3-0.1c-0.5-0.4-3.3-3.1-4.3-2.7c-0.1,0.7,0.6,1.7,1,2.3
                c0.3,0.4,0.6,0.6,0.9,1.1c0.3,0.4,0.5,0.9,1,1.4c1.4,1.5,2.7,3.5,3.3,3.7c0.1,0,0.4,0.3-0.1,0.2c-0.7-0.1-2.5-2.4-3.3-2.6
                c0,0.8,0.4,1.7,0.6,2.6c0.2,0.8,0.4,1.5,0.4,3.1c0,0.2-0.3,0.4-0.3,0c0-1-0.6-2.6-1.1-3.7c-0.3-0.7-0.4-1.2-0.7-1.9
                c-0.2-0.5-0.3-1.2-0.6-1.6c-0.7-1.2-0.8-1.1-1.5-1.9c-0.4-0.5-0.9-1.2-1.2-1.9c-0.1-0.2-0.9-2.2-1.1-2c-0.1,0.1-0.6,0.5-1.3,3.5
                c-0.2,0.7-0.4,1.7-0.6,2.4c-0.2,1.4,0.2,1.2,0.9,2.3c0.8,1.2,2.1,3.2,2.2,4.11c0.2,1.5-0.1,4.71-0.2,6.41c0,0.1-0.1,0.2-0.2,0.2
                s-0.2-0.1-0.2-0.2c0.1-1.8-0.1-4.11-0.5-5.91c-0.2-0.7-0.5-1.4-0.9-2.1c-0.4-0.6-0.7-1-1.4-1.2c-1.5,0.4-1.8,1.2-2.4,2.6
                c-0.5,1.1-0.9,2.3-1.1,3.1c-0.1,0.5-0.3,0.9-0.4,1.1c-0.1,0.2-0.4,0.3-0.3-0.1c0.1-0.3,0.2-0.7,0.3-1.2c0.3-1.3,0.9-5.01,1.6-6.41
                c0.3-0.6,0.4-0.9,0.3-1.6c-0.2-1.5-0.5-3.7-1-4.41c-0.7,0.3-1.7,1.9-1.9,2.3c-0.3,0.7-0.9,1.3-1.3,2.1c-0.3,0.6,0,0.9,0.1,1.6
                c0.2,1.3,0.3,4.21,0.3,5.51c0,0.4,0,0.8,0,1.2c0,0.3-0.3,0.3-0.3,0.1c-0.1-0.8-0.3-2.1-0.6-2.8c-0.2,0.5-0.5,0.8-0.6,1.3
                c-0.4,1.4-1.2,2.7-1.9,3.4c-0.1,0.1-0.2,0.1-0.3,0s0-0.2,0.1-0.3c1.6-2.6,2.8-5.91,1.7-7.41c-2.9-1.2-6.4,3.1-7.4,5.61
                c-0.1,0.3-0.4,0.2-0.3-0.3c0.2-1.4,1.2-3.8,2.3-4.51c0.5-0.3,0.8-0.7,0.8-0.8c-0.2-0.6-3.7-0.2-4.8-0.1c-0.1,0-0.3,0-0.4,0
                s-0.1-0.1-0.2-0.1c0.1-0.1,0.1-0.1,0.1-0.2c0.1-0.1,0.3-0.1,0.5-0.2c2.4-0.4,4.6-0.9,5.6-0.9c0.9,0,1.4-0.1,2.2-0.5
                c2.4-1.3,4.9-4.61,4.2-7.61c-1.4-0.2-3.7,1-5.3,1.9c-0.5,0.3-1,0.6-1.3,1c-0.4,0.6-0.6,1.4-0.6,2.3c0,0.3-0.3,0.3-0.3,0
                c0-0.4,0-0.7,0-1c0-0.6,0.1-0.4,0.1-1c-0.3,0-0.8,0.1-1.2,0.2c-0.7,0.2-2.2,0.5-2.9,0.5c-0.3,0-0.4-0.3-0.1-0.3
                c0.6,0,1.8-0.3,2.6-0.6c0.5-0.2,0.8-0.3,1-0.3c0.4,0,1.1-0.6,1.9-1.2c1.5-1.1,3.8-2.5,5.4-4.21c0.5-0.5,0.5-0.7-0.3-1.1
                c-1-0.5-2.8-0.4-4.1-0.3c-2,0.2-3.9,2-5.1,3.5c-0.4,0.5-1,1.1-1.2,1.4c0,0.4-0.2,0.3-0.1,0.1c0.2-0.4,0.5-1,1-1.6
                c0.3-0.4,1.2-1.3,1.2-1.7c-0.4-0.1-0.6,0.1-0.9,0.2c-1.3,0.7-2.6,0.9-3.4,1c-0.3,0-0.3-0.2,0-0.3c2.6-0.5,4.6-2.1,6.5-3.5
                c-1.1-1.9-4.8-1.3-6-1.5c-0.3,0-0.3-0.3,0-0.3c0.1,0,0.3,0,0.5,0c1.4-0.1,3.1-0.3,4.5-0.1c1.3,0.1,0.9,0,1.6-0.1
                c1.6-0.1,2.8-0.6,3.9-1.1c1.4-0.7,2.5-1.5,2.7-1.9c0.1-0.3,0.4-1,0.4-1.8c0.2-2.9-0.5-6.91-0.3-8.61c-1.7,0-13.6-0.4-13.9-1h36.1
                V40.45z"/>
        </symbol>
    </svg>
    
    <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
</body>
</html>