.from {
    &-main {
        margin-top: 65px;

        @include media-breakpoint-up(lg) {
            margin-top: 138px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 170px;
        }
    }

    &-container {
        position: relative;
    }

    @media (max-width: 599px) {
        &-title--small {
            transform: translate(70%, -50%) !important;
        }
    }

    @media (min-width: 438px) and (max-width: 599px) {
        &-title {
            margin-bottom: 50px !important;
        }
    }

    &-image {
        position: absolute;
        top: -20px;
        left: 53%;
        z-index: -1;
        max-width: none;
        transform: translateX(-50%);

        @include media-breakpoint-down(sm) {
            max-width: 200%;
            top: 205px;
            left: 88%;
        }

        @include media-breakpoint-only(md) {
            max-width: 170%;
            top: 90px;
            left: 78%;
        }
    }

    &-quote {
        &-text {
            position: relative;
            color: #000;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 27px;
            padding-bottom: 33px;

            @include media-breakpoint-up(md) {
                font-size: 18px;
                line-height: 32px;
                margin-bottom: 35px;
                padding-bottom: 43px;
            }

            @include media-breakpoint-up(lg) {
                padding-bottom: 37px;
            }

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 112px;
                height: 1px;
                background-color: #bfe1f3;
            }
        }

        &-author {
            font-size: 18px;
            line-height: 24px;
            color: $purple;
            margin-bottom: 5px;

            @include media-breakpoint-up(md) {
                margin-bottom: 8px;
            }

            &-text {
                font-size: 14px;

                @include media-breakpoint-up(md) {
                    font-size: 18px;
                }
            }
        }
    }

    &-history {
        padding: 42px;
        position: relative;
        border: 18px solid rgba(42, 188, 225, .65);
        border-image: linear-gradient(135deg, rgba(42, 188, 225, .575) 0%, rgba(167, 40, 184, .575) 100%);
        border-image-slice: 1;
        margin-left: -20px;
        margin-right: -20px;

        @media (min-width: 360px) {
            margin-left: -30px;
            margin-right: -30px;
        }

        @include media-breakpoint-up(md) {
            margin-left: 0;
            margin-right: 0;
            padding: 60px 65px 70px;
        }

        @include media-breakpoint-up(lg) {
            padding-bottom: 60px;
        }

        @include media-breakpoint-only(lg) {
            padding-left: 56px;
            padding-right: 56px;
        }

        &-container {
            padding-top: 60px;

            @include media-breakpoint-up(md) {
                padding-top: 75px;
            }

            @include media-breakpoint-up(lg) {
                padding-top: 360px;
                padding-left: 20px;
            }
        }

        &-title {
            font-size: 10px;

            @include media-breakpoint-up(md) {
                font-size: 12px;
            }
        }

        &-slider {
            &-item {
                opacity: 0 !important;

                &.from-history-slider-item--active {
                    opacity: 1 !important;
                }

                &-media {
                    position: absolute;
                    top: 40px;
                    right: -10px;
                    width: 100px;
                    height: 100px;

                    @include media-breakpoint-up(md) {
                        top: 60px;
                        right: -45px;
                        width: 165px;
                        height: 165px;
                    }

                    @include media-breakpoint-up(lg) {
                        top: 65px;
                        right: -70px;
                    }
                }

                &-img {
                    border-radius: 50%;
                }

                &-content {
                    margin-top: 14px;

                    @include media-breakpoint-up(md) {
                        margin-top: 25px;
                    }
                }

                &-title {
                    color: $purple;

                    font-size: 18px;
                    line-height: 24px;

                    @include media-breakpoint-up(md) {
                        font-size: 24px;
                        line-height: 30px;
                    }
                }

                &-text {
                    font-size: 13px;
                    margin-top: 18px;
                    line-height: 24px;

                    @include media-breakpoint-up(md) {
                        font-size: 14px;
                        margin-top: 13px;
                        line-height: 28px;
                        margin-bottom: 15px;
                    }
                }
            }

            &--next {
                position: absolute;
                top: calc(100% - 20px);
                left: 42px;
                color: #fff;
                font-size: 18px;
                line-height: .75;
                padding: 20px 30px;
                border-radius: 50px;
                background-color: $blue;

                &:hover {
                    background-color: darken($blue, 8);
                }

                @include media-breakpoint-up(md) {
                    right: 0;
                    left: auto;
                    top: 270px;
                    transform: translateX(20%);
                }

                @include media-breakpoint-up(lg) {
                    transform: translateX(50%);
                }
            }
        }
    }
}
