<section class="from-main">
    <div class="container">
        <div class="from-container">
            <img src="%=static=%img/assets/index/middle/bg.jpg" alt="Михаэль Лайтман" class="from-image">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-6">
                    <h2 class="f-playfair middle-title d-inline-block from-title">
                        <span class="d-inline-block text-primary middle-title--large">для кого</span>
                        <span class="d-inline-block text-blue middle-title--small from-title--small">этот курс?</span>
                    </h2>
                    <div class="middle-arrow-container middle-subtitle-container">
                        <span class="middle-arrow font-weight-bold f-calibri">→</span>
                        <p class="middle-subtitle text-primary">ДЛЯ ЛЮБОГО ЧЕЛОВЕКА, <br class="d-none d-md-block">НЕЗАВИСИМО ОТ УРОВНЯ ЕГО <br class="d-none d-md-block">НАЧАЛЬНЫХ ЗНАНИЙ ПО КАББАЛЕ</p>
                    </div>
                    <div class="from-quote-container">
                        <p class="from-quote-text">“Занимаясь каббалой, <br class="d-md-none">человек <br class="d-none d-md-block">начинает жить <br class="d-md-none">по-настоящему. Для <br class="d-none d-md-block">него <br class="d-md-none">каждый день - новый. Он <br class="d-md-none">все <br class="d-none d-md-block">время раскрывает <br class="d-md-none">новые законы, <br>взаимосвязи, раскрывает <br class="d-md-none">новый мир в <br class="d-none d-md-block">себе и вокруг <br class="d-md-none">себя”.</p>
                        <p class="from-quote-author font-weight-bold">Михаэль Лайтман</p>
                        <p class="from-quote-author-text text-gray">Основатель и глава Международной академии каббалы</p>
                    </div>
                </div>
                <div class="col-12 col-lg-5 from-history-container">
                    <div class="from-history">
                        <p class="from-history-title font-weight-bold text-primary">Известные каббалисты в истории:</p>
                        <div class="from-history-slider js-from-slider swiper-container">
                            <div class="from-history-slider-wrapper d-flex swiper-wrapper">
                                {{#each historyList}}
                                    <div class="from-history-slider-item d-flex swiper-slide" data-img="%=static=%img/assets/index/middle/story-{{@index}}.jpg">
                                        <div class="from-history-slider-item-content col-12 col-md-10 col-lg">
                                            <div class="col-9 col-md-11 col-lg-10">
                                                <p class="from-history-slider-item-title font-weight-bolder">{{title}}</p>
                                            </div>
                                            <p class="from-history-slider-item-text">{{{text}}}</p>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="from-history-slider-item-media img-wrap">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" alt="Изображение исторической личности" class="from-history-slider-item-img cover-pic">
                        </div>
                        <button class="from-history-slider--next" aria-label="Следующий слайд" type="button">след. <span class="f-calibri">→</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>