.middle {
    &-title {
        position: relative;
        z-index: 0;
        margin-bottom: 5px;
        letter-spacing: -4px;

        @include media-breakpoint-up(md) {
            white-space: nowrap;
            margin-bottom: 70px;
            letter-spacing: -6px;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 80px;
        }

        &--2 {
            margin-bottom: 15px;

            @include media-breakpoint-up(md) {
                margin-bottom: 65px;
            }
        }

        &:before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 40px;
            left: -30px;
            right: -30px;
            height: 1px;
            background-color: #bbd5eb;

            @include media-breakpoint-up(md) {
                left: percentage(-3/24);
                right: percentage(-3/24);
                top: 63px;
            }
        }

        &--large {
            font-size: 50px;
            line-height: 40px;

            @include media-breakpoint-up(md) {
                font-size: 80px;
                line-height: 60px;
            }
        }

        &--small {
            font-size: 50px;
            line-height: 35px;
            transform: translateY(75%);

            @include media-breakpoint-up(md) {
                letter-spacing: -3.5px;
            }
        }
    }

    &-subtitle {
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        padding-left: 30px;
        letter-spacing: 3px;

        @media (min-width: 720px) {
            padding-left: 0;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 4px;
        }

        &-container {
            margin-bottom: 23px;

            @include media-breakpoint-up(md) {
                margin-bottom: 50px;
            }

            @include media-breakpoint-up(lg) {
                margin-bottom: 85px;
            }

            &--2 {
                margin-bottom: 40px;

                @include media-breakpoint-up(md) {
                    margin-bottom: 25px;
                }

                @include media-breakpoint-up(lg) {
                    margin-bottom: 70px;
                }
            }
        }
    }

    &-arrow {
        position: absolute;
        left: 0;
        font-size: 18px;
        color: $purple;

        @media (min-width: 720px) {
            left: -40px;
        }

        &-container {
            position: relative;
        }
    }
}
