.what {
    &-main {
        margin-top: 70px;
        margin-bottom: 75px;

        @include media-breakpoint-up(md) {
            margin-top: 60px;
            margin-bottom: 60px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: -88px;
            margin-bottom: 180px;
        }
    }

    &-container {
        position: relative;
    }

    &-image {
        position: absolute;
        top: 0;
        left: 83%;
        z-index: -1;
        max-width: none;
        transform: translate(-50%, 42%);
    }

    @media (max-width: 599px) {
        &-title--small {
            transform: translate(70%, -50%);
        }
    }

    @media (min-width: 431px) and (max-width: 599px) {
        &-title {
            margin-bottom: 58px !important;
        }
    }

    @include media-breakpoint-down(sm) {
        &-subtitle {
            font-size: 16px;
            line-height: 29px;
            letter-spacing: 5px;
        }
    }

    &-item {
        @include media-breakpoint-down(sm) {
            &:not(:last-child) {
                margin-bottom: 26px;
            }
        }

        @include media-breakpoint-only(md) {
            padding-right: 20px;
        }

        &--first {
            @include media-breakpoint-up(md) {
                margin-bottom: 85px;
            }

            @include media-breakpoint-up(lg) {
                margin-right: 25px;
                margin-bottom: 50px;
            }
        }

        &--three {
            @include media-breakpoint-up(md) {
                margin-bottom: 70px;
            }

            @include media-breakpoint-up(lg) {
                margin-bottom: 55px;
            }
        }

        &__icon {
            margin-right: 10px;
            margin-top: 5px;

            @include media-breakpoint-up(md) {
                width: 55px;
                height: 55px;
                margin-top: 0;
                margin-bottom: 20px;
            }

            @include media-breakpoint-up(lg) {
                margin-top: 5px;
                margin-bottom: 0;
                margin-right: 25px;
            }
        }

        &__text {
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;

            @include media-breakpoint-up(md) {
                font-size: 16px;
                line-height: 28px;
            }
        }
    }
}
