<section class="what-main">
    <div class="container">
        <div class="what-container">
            <img src="%=static=%img/assets/index/middle/bg2.jpg" alt="письмена" class="what-image d-none d-lg-block">
            <div class="d-flex justify-content-between">
                <div class="col-lg-9">
                    <h2 class="f-playfair middle-title middle-title--2 d-inline-block what-title">
                        <span class="d-inline-block text-primary middle-title--large">что такое</span>
                        <span class="d-inline-block text-blue middle-title--small what-title--small">каббала?</span>
                    </h2>
                    <div class="middle-arrow-container middle-subtitle-container middle-subtitle-container--2">
                        <span class="middle-arrow font-weight-bold f-calibri">→</span>
                        <p class="middle-subtitle what-subtitle text-primary">РАЗВЕЙ МИФЫ И ПРЕДВЗЯТЫЕ <br class="d-none d-md-block">МНЕНИЯ О КАББАЛЕ</p>
                    </div>
                    <div class="what-item-container row">
                        <div class="col-12 col-md-6 col-lg-6 what-item what-item--first d-flex d-md-block d-lg-flex">
                            {{Icon iconName="icon-1" className="what-item__icon icon" iconWidth="50" iconHeight="50"}}
                            <p class="what-item__text text-primary">Каббала - это древняя наука, <br class="d-none d-lg-block">существующая уже почти 6 тысяч лет. <br class="d-none d-lg-block">Знание этих законов и соответствие им <br class="d-none d-lg-block">дает человеку ключ от его судьбы</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg what-item d-flex d-md-block d-lg-flex">
                            {{Icon iconName="icon-2" className="what-item__icon icon" iconWidth="50" iconHeight="50"}}
                            <p class="what-item__text text-primary">Каббала исследует высшую духовную <br class="d-none d-lg-block">реальность так же, как естественные <br class="d-none d-lg-block">науки исследуют реальность нашего <br class="d-none d-lg-block">мира, выявляя универсальные принципы <br class="d-none d-lg-block">и законы мироздания</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-12 what-item what-item--three d-flex d-md-block d-lg-flex">
                            {{Icon iconName="icon-3" className="what-item__icon icon" iconWidth="50" iconHeight="50"}}
                            <p class="what-item__text text-primary">Многие тысячи лет эта наука была <br class="d-none d-lg-block">скрыта от масс, знание передавалось от <br class="d-none d-lg-block">учителя к ученику в течение многих <br class="d-none d-lg-block">поколений</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-12 what-item d-flex d-md-block d-lg-flex">
                            {{Icon iconName="icon-4" className="what-item__icon icon" iconWidth="50" iconHeight="50"}}
                            <p class="what-item__text text-primary">Сокровищницы высшей мудрости <br class="d-none d-lg-block">открывались лишь для немногих. Но <br class="d-none d-lg-block">сегодня мудрость каббалы становится <br class="d-none d-lg-block">достоянием всего мира</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>