:root {
    font-size: 12px;

    @include media-breakpoint-up(sm) {
        font-size: 13px;
    }

    @include media-breakpoint-up(md) {
        font-size: 14px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 15px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 16px;
    }
}

body {
    font-family: $Font;
    font-size: $global-font-size;
    font-weight: $FontWeight;
    color: #333;
}

p {
    margin: 0;
}

.wrapper {
    overflow-x: hidden;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    transition: all .35s ease-in-out;
}

header,
footer {
    flex-grow: 0;
}

main {
    flex-grow: 1;
    min-height: 100%;
}

.float-center {
    margin: auto;
}

.icon {
    flex: 0 0 auto;
}

.container {
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: 360px) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (min-width: 720px) {
        padding-left: 56px;
        padding-right: 56px;
    }

    @include media-breakpoint-up(lg) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @include media-breakpoint-up(xl) {
        padding-left: 0;
        padding-right: 0;
    }
}
