@include font-face($Font, $FontPath, 'MuseoSansCyrl-100/MuseoSansCyrl-100', 100, $FontStyle);
@include font-face($Font, $FontPath, 'MuseoSansCyrl-300/MuseoSansCyrl-300', 300, $FontStyle);
@include font-face($Font, $FontPath, 'MuseoSansCyrl-500/MuseoSansCyrl-500', 500, $FontStyle);
@include font-face($Font, $FontPath, 'MuseoSansCyrl-700/MuseoSansCyrl-700', 700, $FontStyle);
@include font-face($Font, $FontPath, 'MuseoSansCyrl-900/MuseoSansCyrl-900', 900, $FontStyle);

@include font-face('PlayfairDisplay', $FontPath, 'PlayfairDisplay-Regular/PlayfairDisplay-Regular', 400, $FontStyle);

@include font-face('Calibri', $FontPath, 'Calibri', 400, $FontStyle);

.f-playfair {
    font-weight: 400;
    font-family: 'PlayfairDisplay' !important;
}

.f-calibri {
    font-size: 80%;
    font-family: 'Calibri' !important;
}

.font-weight {
    &-thin {
        font-weight: 100 !important;
    }
    &-medium {
        font-weight: 500 !important;
    }
}

.text {
    &-underline {
        border-bottom: 1px solid;
    }
}
