a,
input,
button,
textarea {
    margin: 0;
    border: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    transition: all .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

::placeholder {
    color: currentColor;
}

::-webkit-input-placeholder {
    color: currentColor;
}

img,
video {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-down {
    position: absolute;
    top: -77px;
    z-index: 2;
    left: percentage(1/24);
    @include media-breakpoint-up(md) {
        top: -92px;
    }
    @include media-breakpoint-up(xl) {
        left: 12%;
    }
    @include media-breakpoint-up(xl) {
        top: -143px
    }
}
.btn:focus, .btn.focus {
    box-shadow: none;
}
.link-hover,
.link-hovered,
.link-hover-inner,
.link-hovered-inner {
    position: relative;
    transition: all .3s ease-in-out;
    text-decoration: none !important;
    span {
        &:not(.f-calibri) {
            border-bottom: 1px solid transparent;
        }
    }
    .f-calibri {
        color: #c5c7c7;
    }
}

.link-hover,
.link-hover-inner {
    @include hover-focus {
        span {
            &:not(.f-calibri) {
                border-bottom-color: currentColor;
            }
        }
    }
}

.link-hovered,
.link-hovered-inner {
    &:not(.f-calibri) {
        span {
            border-bottom-color: currentColor;
        }
    }
    @include hover-focus {
        span {
            &:not(.f-calibri) {
                border-bottom: 1px solid transparent;
            }
        }
    }
}
button:focus {
    outline: none;
}