// функция убирает буквы у чисел 
@function strip-unit($number) {
    @if type-of($number)=='number'and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers})
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers})
}

// функция px to rem
@function rem($size, $global-font-size: 16) {
    $font-size: strip-unit($global-font-size);
    $size: strip-unit($size);
    $remSize: $size / $font-size;
    @return #{$remSize}rem;
}

// функция px to em
@function em($size, $global-font-size: 16) {
    $font-size: strip-unit($global-font-size);
    $size: strip-unit($size);
    $emSize: $size / $font-size;
    @return #{$emSize}em;
}

// подключения шрифтов
@mixin font-face($Font, $FontPath, $FontFamily, $FontWeight, $FontStyle) {
    @font-face {
        font-family: '#{$Font}';
        src: url("#{$FontPath}/#{$FontFamily}.eot");
        /* IE9 Compat Modes */
        src: url("#{$FontPath}/#{$FontFamily}.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url('#{$FontPath}/#{$FontFamily}.otf') format('otf'),
        /* Open Type Font */
        url('#{$FontPath}/#{$FontFamily}.svg') format('svg'),
        /* Legacy iOS */
        url('#{$FontPath}/#{$FontFamily}.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('#{$FontPath}/#{$FontFamily}.woff') format('woff'),
        /* Modern Browsers */
        url('#{$FontPath}/#{$FontFamily}.woff2') format('woff2');
        /* Modern Browsers */
        font-display: swap;
        font-weight: $FontWeight;
        font-style: $FontStyle;
    }
}

@mixin margin($size, $columns: 24) {
    $num: $size / $columns;
    margin-left: if($num==0, 0, percentage($num));
    margin-right: if($num==0, 0, percentage($num));
}

@mixin padding($size, $columns: 24) {
    $num: $size / $columns;
    padding-left: if($num==0, 0, percentage($num));
    padding-right: if($num==0, 0, percentage($num));
}
