$FontPath: '../fonts'; // путь до папки со шрифтами
$FontStyle: normal; // стиль начертания
$FontWeight: 300; // толщина шрифта
$Font: 'MuseoSansCyrl';
$global-font-size: 16px;

// отступы в бутстрам стилях
$grid-gutter-width: 0px;
// Колонки
$grid-columns: 12;

// медиавыражения в бутстрапе 
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 600px,
  lg: 992px,
  xl: 1240px,
);

// размер контейрена в бутстрапе
$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 980px,
  xl: 1120px,
);

$primary: #073547;
$purple: #aa20ac;
$blue: #2d9ad7;
$gray: #a9a9a9;
$dark-gray: #4e4e4e;

$navbar-padding-y: 0;
$navbar-padding-x: 0;

$theme-colors: (
    "gray": $gray,
    "dark-gray": $dark-gray,
    "blue": $blue,
    "purple": $purple,
    "light": #f4f4f4
);


$h5-font-size: 18px;
$h3-font-size: 26px;
$h2-font-size: 35px;
$h1-font-size: 54px;

$font-weight-bolder: 900;