.feedback {
    &-main {
        position: relative;
        padding: 60px 0 0;
        background: rgb(159, 203, 221);
        background: linear-gradient(125deg, rgba(159, 203, 221, 1) 0%, rgba(241, 241, 250, 1) 25%, rgba(241, 241, 250, 1) 75%, rgba(229, 189, 231, 1) 100%);

        @include media-breakpoint-up(md) {
            padding-top: 110px;
        }

        @include media-breakpoint-up(lg) {
            padding-bottom: 85px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border: 15px solid;
            border-top-color: #fff;
            border-left-color: #fff;
            border-right-color: #86c1da;
            border-bottom-color: #86c1da;
        }
    }


    &-title {
        position: absolute;
        left: 0;
        top: -80px;
        font-size: 18px;
        padding: 0 30px 20px;
        white-space: nowrap;

        @include media-breakpoint-up(md) {
            left: 50%;
            padding: 30px 100px;
            border-radius: 99px;
            background-color: #fff;
            transform: translateX(-50%);
        }

        @include media-breakpoint-up(lg) {
            top: -60px;
        }
    }

    &-article {
        position: relative;
        padding: 0 20px;
        transform: translateX(20px) !important;

        @media (min-width: 360px) {
            padding: 0 30px;
            transform: translateX(30px) !important;
        }

        @include media-breakpoint-up(md) {
            padding: 0;
            transform: translateX(0px) !important;
        }

        &--right {
            .feedback-article-media {
                @include media-breakpoint-up(md) {
                    margin-right: 50px;
                }

                @include media-breakpoint-up(lg) {
                    margin-right: 35px;
                }
            }

            .feedback-article-image-container {
                clip-path: polygon(0% 0%, 100% 0, 87% 7%, 87% 100%, 0% 100%);
            }
        }

        &--left {
            .feedback-article-media {
                @include media-breakpoint-up(md) {
                    margin-left: 50px;
                }

                @include media-breakpoint-up(lg) {
                    margin-left: 35px;
                }
            }

            .feedback-article-image-container {
                clip-path: polygon(0% 0%, 100% 0, 100% 100%, 12% 100%, 12% 7%);
            }
        }

        &-image {
            &-container {
                width: 90px;
                height: 125px;
                margin-top: 5px;

                @include media-breakpoint-up(md) {
                    width: 130px;
                    height: 165px;
                    margin-top: 10px;
                }

                &::before {
                    padding-bottom: 125px;

                    @include media-breakpoint-up(md) {
                        padding-bottom: 165px;
                    }
                }
            }
        }

        &-media {
            @include media-breakpoint-down(sm) {
                position: absolute;
                top: 0;
                left: -30px;
            }

            &-text {
                color: #00517e;
                margin-top: 15px;
                line-height: 28px;
                padding-right: 12px;

                @include media-breakpoint-up(md) {
                    margin-top: 20px;
                }
            }
        }

        &-content {
            margin-left: -20px;

            @media (min-width: 360px) {
                margin-left: -30px;
            }

            @include media-breakpoint-up(md) {
                margin-left: 0;
            }

            &-top {
                @include media-breakpoint-down(sm) {
                    padding-left: 85px;
                    min-height: 150px;
                }
            }
        }

        &-title {
            font-size: 22px;
            line-height: 28px;

            @include media-breakpoint-up(md) {
                font-size: 26px;
                line-height: 33px;
                margin-bottom: 20px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 32px;
                line-height: 35px;
                margin-bottom: 15px;
            }
        }

        &-body {
            color: #000;
            font-size: 14px;
            overflow: hidden;
            max-height: 166px;
            line-height: 28px;

            @include media-breakpoint-up(lg) {
                font-size: 16px;
                max-height: 195px;
            }

            &.active {
                max-height: 100%;
            }
        }

        &-btn {
            &-more {
                color: $purple;
                margin-top: 10px;
            }
        }
    }

    &-slider {
        &-container {
            margin-top: -5px;
            margin-left: -20px;
            margin-right: -20px;

            @media (min-width: 360px) {
                margin-left: -30px;
                margin-right: -30px;
            }

            @include media-breakpoint-up(md) {
                margin-left: 0;
                margin-right: 0;
                margin-top: -10px;
            }
        }

        &-btn {
            color: #fff;
            font-size: 18px;
            line-height: .75;
            padding: 20px 30px;
            background-color: $blue;

            &:hover {
                background-color: darken($blue, 8);
            }

            @include media-breakpoint-up(md) {
                padding: 20px 40px;
            }

            &-container {
                margin: 40px 0;

                @include media-breakpoint-up(md) {
                    margin: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translateX(36%);
                }

                @include media-breakpoint-up(lg) {
                    left: 57%;
                    right: auto;
                    top: calc(100% + 60px);
                    transform: translateX(-50%);
                }

                @include media-breakpoint-up(xl) {
                    left: 46.7%;
                }
            }

            &--prev {

                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
            }

            &--next {
                background-image: linear-gradient(115deg, #5bb0e0 0%, #2d9ad7 50%);
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;

                &:hover {
                    background: darken($blue, 8);
                }

                @include media-breakpoint-up(md) {
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                }
            }
        }
    }

    &-video {
        position: relative;
        height: 0;
        margin-left: -20px;
        margin-right: -20px;

        @media (min-width: 360px) {
            margin-left: -30px;
            margin-right: -30px;
        }

        padding-bottom: 56.25%;
        background-color: #000000;


        @include media-breakpoint-up(md) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        &-container {
            margin-bottom: -45%;

            @media (min-width: 450px) {
                margin-bottom: -25%;
            }

            @include media-breakpoint-up(md) {
                padding-top: 56px;
                margin-bottom: -40px;
            }

            @include media-breakpoint-up(lg) {
                padding-top: 0;
                margin-bottom: 0;
                padding-left: 56px;
            }
        }

        &__link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &__media {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }

        &__button {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            padding: 0;
            width: 68px;
            height: 48px;
            border: none;
            background-color: transparent;
            transform: translate(-50%, -50%);
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &-shape {
                fill: #212121;
                fill-opacity: 0.8;
            }

            &-icon {
                fill: #ffffff;
            }

            &:focus {
                .feedback-video__button-shape {
                    fill: #ff0000;
                    fill-opacity: 1;
                }
            }
        }

        &:hover {
            .feedback-video__button-shape {
                fill: #ff0000;
                fill-opacity: 1;
            }
        }

        /* Enabled */
        &--enabled {
            cursor: pointer;

            .video__button {
                display: block;
            }
        }
    }
}
