<section class="feedback-main">
    <div class="container">
        <h2 class="feedback-title text-md-center text-lg-left"><b class="d-block d-lg-inline font-weight-bold">Читай и смотри отзывы</b> наших замечательных студентов:</h2>
        <div class="feedback-container row">
            <div class="col-12 col-lg-6">
                <div class="feedback-slider-container swiper-container js-feedback-slider">
                    <div class="feedback-article-wrapper swiper-wrapper">
                        <div class="swiper-slide feedback-article d-flex feedback-article--right">
                            <div class="feedback-article-media">
                                <div class="feedback-article-image-container img-wrap">
                                    <img src="%=static=%img/assets/index/feedback/feedback-1.jpg" alt="Ингалипт Парацетамолович" class="feedback-article-image cover-pic">
                                </div>
                                <p class="feedback-article-media-text text-right font-weight-thin d-none d-md-block">71 год,<br>Хайфа, Израиль</p>
                            </div>
                            <div class="feedback-article-content col">
                                <div class="feedback-article-content-top">
                                    <h3 class="feedback-article-title font-weight-medium text-primary col-md-8 col-lg">Ингалипт Парацетамолович</h3>
                                    <p class="feedback-article-media-text font-weight-thin d-md-none">71 год,<br>Хайфа, Израиль</p>
                                </div>
                                <p class="feedback-article-body">Никогда не знаешь, что с тобой произойдет в следующий момент. Однажды, в интернете, я увидела рекламу курса по каббале. Что я знала о каббале? Что это крутая мистика, красные нитки и прочее! И вот я на уроке в Ашдоде. Собралось много народу. Лектор начал говорить и что-то особенное ... появилось в воздухе, как облако... которое окутало меня до конца урока. Чем больше он говорил, тем больше возникало вопросов. С тех пор нахожу ответы на свои вопросы в этой науке…</p>
                                <button class="link-hovered js-feedback-btn-more feedback-article-btn-more js-feedback-btn-more" type="button"><span>читать полностью</span></button>
                            </div>
                        </div>
                        <div class="swiper-slide feedback-article d-flex feedback-article--right">
                            <div class="feedback-article-media">
                                <div class="feedback-article-image-container img-wrap">
                                    <img src="%=static=%img/assets/index/feedback/feedback-1.jpg" alt="Ингалипт Парацетамолович" class="feedback-article-image cover-pic">
                                </div>
                                <p class="feedback-article-media-text text-right font-weight-thin d-none d-md-block">71 год,<br>Хайфа, Израиль</p>
                            </div>
                            <div class="feedback-article-content col">
                                <div class="feedback-article-content-top">
                                    <h3 class="feedback-article-title font-weight-medium text-primary col-md-8 col-lg">Ингалипт Парацетамолович</h3>
                                    <p class="feedback-article-media-text font-weight-thin d-md-none">71 год,<br>Хайфа, Израиль</p>
                                </div>
                                <p class="feedback-article-body">Никогда не знаешь, что с тобой произойдет в следующий момент. Однажды, в интернете, я увидела рекламу курса по каббале. Что я знала о каббале? Что это крутая мистика, красные нитки и прочее! И вот я на уроке в Ашдоде. Собралось много народу. Лектор начал говорить и что-то особенное ... появилось в воздухе, как облако... которое окутало меня до конца урока. Чем больше он говорил, тем больше возникало вопросов. С тех пор нахожу ответы на свои вопросы в этой науке…</p>
                                <button class="link-hovered js-feedback-btn-more feedback-article-btn-more js-feedback-btn-more" type="button"><span>читать полностью</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feedback-slider-btn-container d-flex justify-content-center">
                    <button class="feedback-slider-btn--prev slick-arrow feedback-slider-btn d-md-none" aria-label="предыдущий" type="button">
                        <span class="f-calibri">←</span>
                        <span class="d-none d-md-inline">пред. отзыв</span>
                    </button>
                    <button class="feedback-slider-btn--next slick-arrow feedback-slider-btn" aria-label="следующий" type="button">
                        <span class="d-none d-md-inline">след. отзыв</span>
                        <span class="f-calibri">→</span>
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-6 feedback-video-container">
                <div class="feedback-video">
                    <!-- хэш видео поменять для смены ролика. Пример "MSNFcRfODUI"-->
                    <a class="feedback-video__link" href="https://youtu.be/MSNFcRfODUI" data-fancybox="">
                        <picture class="d-block img-wrap">
                            <!-- хэш видео поменять для смены изображения. Пример "MSNFcRfODUI"-->
                            <img class="feedback-video__media cover-pic" src="https://i.ytimg.com/vi/MSNFcRfODUI/hqdefault.jpg" alt="Видео с ютуба">
                        </picture>
                    </a>
                    <button class="feedback-video__button" type="button" aria-label="Запустить видео">
                        <svg width="68" height="48" viewBox="0 0 68 48"><path class="feedback-video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="feedback-video__button-icon" d="M 45,24 27,14 27,34"></path></svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>