<div class="container">
    <div class="footer row">
        <div class="footer--left col-lg-4 col-md-7 col-12">
            <p class="footer-copyright text-black">2007-2019 (C) Международная академия каббалы.</p>
            <p class="footer-copyright-2 text-gray font-weight-thin">При использовании материалов сайта ссылка на источник обязательна</p>
        </div>
        <div class="footer--middle text-center col-lg-4 col-md-5 col-10 d-none d-md-block">
            <button class="btn footer__btn text-purple" type="button" data-fancybox="" data-src="#orderModal">заказать обратный звонок</button>
        </div>
        <div class="footer--right col-lg-4 col-md-12 col-10 d-none d-lg-block">
            <p class="text-right text-gray font-weight-thin">Задать вопрос в мессенджерах:</p>
            <div class="d-flex align-items-center justify-content-end footer__link-container">
                <a href="viber://chat?number=0547417676" class="footer__link d-inline-block">
                    {{Icon iconName="viber" className="icon footer__link-icon" iconWidth="33" iconHeight="33"}}
                </a>
                <a href="tg://msg?text=Здравствуйте, &to=0547417676" class="footer__link d-inline-block">
                    {{Icon iconName="telegram" className="icon footer__link-icon" iconWidth="33" iconHeight="33"}}
                </a>
                <a href="whatsapp://send?phone=0547417676" class="footer__link d-inline-block">
                    {{Icon iconName="whatsapp" className="icon footer__link-icon" iconWidth="33" iconHeight="33"}}
                </a>
                <!-- необходимо поправить ссылку см. API -->
                <a href="fb-messenger://share/?link= https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fsharing%2Freference%2Fsend-dialog&app_id=123456789" class="footer__link d-inline-block">
                    {{Icon iconName="messenger" className="icon footer__link-icon" iconWidth="33" iconHeight="33"}}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="subfooter-main">
    <div class="container">
        <div class="d-flex justify-content-between d-md-block float-center text-right text-md-left text-lg-center subfooter-phone-container">
            <a href="tel:0547417676" class="subfooter-phone d-inline-flex align-items-center">
                {{Icon iconName="phone" className="icon subfooter-phone__icon" iconWidth="20" iconHeight="20"}}
                <span class="d-inline-block">054·741·76·76</span>
            </a>
            <button class="btn footer__btn text-white link-hovered d-md-none" type="button" data-fancybox="" data-src="#orderModal"><span>заказать звонок</span></button>
        </div>
    </div>
</div>