.footer {
    &-copyright {
        color: #000;
        font-size: 10px;
        margin-bottom: 10px;

        @include media-breakpoint-up(md) {
            font-size: 12px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 14px;
        }

        &-2 {
            font-size: 12px;
            line-height: 22px;
        }
    }

    &--right {
        line-height: 0.75;
    }

    &__btn {
        position: relative;
        line-height: 0.75;

        &:hover {
            border-bottom: 1px solid;
        }

        @include media-breakpoint-up(md) {
            font-size: 18px;
        }

        @include media-breakpoint-up(md) {
            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -30px;
                width: 100%;
                height: 1px;
                background-color: $purple;
            }

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: -34px;
                width: 10px;
                height: 10px;
                background-color: #fff;
                border: 1px solid $purple;
                border-left-color: #fff;
                border-top-color: #fff;
                transform: translateX(-50%) rotate(45deg);
            }
        }

        @include media-breakpoint-up(lg) {
            margin-top: 25px;
        }

    }

    &__link {
        padding: 5px;
        line-height: 0.75;
        border-radius: 50%;
        background-color: #f2f2f2;

        &:hover {
            box-shadow: 0 0 2px #0f0c97;
        }

        &:not(:last-child) {
            margin-right: 20px;
        }

        &-container {
            margin-top: 15px;
        }
    }
}
