<section class="price-main">
    <div class="container">
        <div class="price-image-container">
            <img src="%=static=%img/assets/index/price/bg.jpg" alt="Курс изучения каббалы для начачинающих" class="price-image">
        </div>
        <h2 class="f-playfair middle-title middle-title--2 d-inline-block price-title">
            <span class="d-inline-block text-primary middle-title--large">сколько</span>
            <span class="d-inline-block text-blue middle-title--small price-title--small">стоит курс?</span>
        </h2>
        <div class="price-container row">
            <div class="col-12 col-lg-7 price-content-container">
                <div class="price-gift-container d-inline-block col-9 col-md-auto">
                    <p class="f-playfair price-gift-title">
                        <span>497</span>
                        <span class="f-calibri price-gift-icon d-inline-block">₪</span>
                    </p>
                    <p class="text-uppercase price-gift-text">+ учебник в подарок</p>
                </div>
                <div class="price-free-container">
                    <h3 class="price-free-title font-weight-bolder text-primary">ПЕРВЫЙ УРОК БЕСПЛАТНЫЙ</h3>
                    <div class="middle-arrow-container middle-subtitle-container price-free-text">
                        <span class="middle-arrow font-weight-bold f-calibri">→</span>
                        <p class="middle-subtitle text-primary text-uppercase price-subtitle">Оплатившим заранее или
                            <br class="d-none d-md-block">на первом уроке - <b class="font-weight-bolder text-primary">скидка
                                100<span class="f-calibri price-gift-icon d-inline-block">₪</span></b></p>
                    </div>
                </div>
                <div class="d-flex price-cost-container">
                    <div class="price-cost price-cost--old">
                        <p class="f-playfair">497 <span class="f-calibri price-gift-icon d-inline-block">₪</span></p>
                    </div>
                    <div class="price-cost price-cost--new">
                        <p class="f-playfair">397 <span class="f-calibri price-gift-icon d-inline-block">₪</span></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5 price-form-container">
                <form class="price-form js-price-form">
                    <h2 class="price-form-title f-playfair text-primary">Решайся <br class="d-none d-lg-block">сейчас</h2>
                    <div class="row">
                        <fieldset class="price-form-field d-block col-12">
                            <input class="price-form-input" name="priceName" id="priceName" type="text" required>
                            <label class="price-form-label font-weight-thin" for="priceName">Ваше имя</label>
                        </fieldset>
                        <fieldset class="price-form-field d-block col-12 col-md-6 col-lg-12 price-form-field--phone">
                            <input class="price-form-input js-mask-phone" name="pricePhone" id="pricePhone" type="tel" required>
                            <label class="price-form-label font-weight-thin" for="pricePhone">Номер телефона</label>
                        </fieldset>
                        <fieldset class="price-form-field d-block col-12 col-md-6 col-lg-12">
                            <input class="price-form-input" name="priceMail" id="priceMail" type="email">
                            <label class="price-form-label font-weight-thin" for="priceMail">E-mail</label>
                        </fieldset>
                    </div>
                    <button class="btn price-form-btn text-white text-uppercase">отправить заявку</button>
                </form>
            </div>
        </div>
    </div>
</section>
