.price {
    &-main {
        padding: 245px 0 90px;

        @include media-breakpoint-up(md) {
            padding: 123px 0 110px;
        }

        @include media-breakpoint-up(lg) {
            padding: 160px 0 155px;
        }
    }

    &-container {
        margin-top: 20px;

        @include media-breakpoint-up(md) {
            margin-top: 50px;
        }
    }

    @media (max-width: 599px) {
        &-title--small {
            transform: translate(26%, -50%) !important;
        }
    }
    @media (min-width: 454px) and (max-width: 599px) {
        &-title {
            margin-bottom: 58px !important;
        }
    }
    
    @include media-breakpoint-down(sm) {
        &-subtitle {
            font-size: 16px !important;
            line-height: 30px !important;
            letter-spacing: 5.5px !important;
        }
    }

    &-image {
        position: absolute;
        top: -5px;
        left: 49%;
        max-width: none;
        transform: translateX(-50%);

        @include media-breakpoint-down(sm) {
            top: 160px;
            left: 92%;
            max-width: 190%;
        }

        @include media-breakpoint-only(md) {
            top: 12px;
            left: 90%;
            max-width: 167%;
        }

        @include media-breakpoint-only(lg) {
            max-width: 90%;
        }

        &-container {
            position: relative;
        }
    }

    &-gift {
        &-container {
            position: relative;
            padding: 10px 30px 32px;
            border: 1px solid $blue;

            @include media-breakpoint-up(md) {
                padding: 10px 55px 40px 60px;
            }

            @include media-breakpoint-only(md) {
                margin-top: 9px;
            }

            &::before {
                content: '';
                position: absolute;
                top: -35px;
                left: 60px;
                width: 34px;
                height: 35px;
                border: 1px solid #fff;
                border-left-color: $blue;
            }

            &::after {
                content: '';
                position: absolute;
                top: -41px;
                left: 77px;
                height: 48px;
                transform: rotate(-45deg);
                border-left: 1px solid $blue;
            }
        }

        &-title {
            font-size: 70px;
            line-height: 0.9;
            color: $blue;
            margin-bottom: 27px;
            letter-spacing: -7px;
            white-space: nowrap;

            @include media-breakpoint-up(md) {
                line-height: 1;
                font-size: 90px;
                margin-bottom: 20px;
                letter-spacing: -8px;
            }
        }

        &-icon {
            font-size: 130%;
            line-height: .5;
            transform: translateY(10px);

            @include media-breakpoint-up(md) {
                transform: translateY(15px);
            }
        }

        &-text {
            letter-spacing: 3px;

            @include media-breakpoint-up(md) {
                font-size: 18px;
                letter-spacing: 4px;
            }
        }
    }

    &-free {
        &-container {
            margin-top: 60px;

            @include media-breakpoint-up(md) {
                margin-top: 100px;
            }
        }

        &-title {
            font-size: 26px;
            line-height: 35px;
            margin-bottom: 15px;

            @include media-breakpoint-up(md) {
                font-size: 36px;
                line-height: 40px;
                margin-bottom: 25px;
            }
        }

        &-text {
            margin-bottom: 0;

            .price-gift-icon {
                transform: none;
            }
        }
    }

    &-cost {
        position: relative;
        font-size: 56px;
        line-height: 1;
        white-space: nowrap;
        letter-spacing: -5px;
        padding: 0 percentage(1/24);

        @media (min-width: 360px) {
            padding: 0 percentage(2/24);
        }

        @include media-breakpoint-up(md) {
            font-size: 90px;
            letter-spacing: -8px;
        }

        &-container {
            margin-top: 35px;

            @include media-breakpoint-up(md) {
                margin-top: 50px;
            }
        }

        p {
            margin-top: -30px;
        }

        &--old {
            color: #787878;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                height: 4px;
                background-color: #787878;
                transform: translateY(-50%);
            }
        }

        &--new {
            color: $purple;

            @include media-breakpoint-down(sm) {
                padding: 0 15px;
            }
        }
    }

    &-form {
        position: relative;
        border: 18px solid rgba(42, 188, 225, .65);
        border-image: linear-gradient(135deg, rgba(42, 188, 225, .575) 0%, rgba(167, 40, 184, .575) 100%);
        border-image-slice: 1;
        padding: 40px calc(56 * 1px - 18px) 45px;
        margin-left: -20px;
        margin-right: -20px;

        @media (min-width: 360px) {
            margin-left: -30px;
            margin-right: -30px;
        }

        @include media-breakpoint-up(md) {
            margin-left: 0;
            margin-right: 0;
            padding: 55px calc(56 * 2px - 38px) 60px;
        }

        @include media-breakpoint-up(xl) {
            padding: 55px calc(56 * 2px - 18px) 65px;
        }

        &-container {
            padding-top: 70px;

            @include media-breakpoint-up(md) {
                padding-top: 90px;
            }

            @include media-breakpoint-up(lg) {
                padding-top: 0;
                padding-left: 20px;
            }
        }

        &-title {
            font-size: 40px;
            line-height: 40px;
            letter-spacing: -1px;
            margin-bottom: 30px;
            /* компенсация */
            margin-top: -5px;
            margin-left: -3px;

            @include media-breakpoint-up(md) {
                font-size: 50px;
                line-height: 50px;
                letter-spacing: -2px;
                margin-bottom: 40px;
                /* компенсация */
                margin-left: -5px;
            }
        }

        &-field {
            position: relative;
            margin-bottom: 13px;

            &--phone {
                @include media-breakpoint-only(md) {
                    padding-right: 30px;
                }
            }
        }

        &-label {
            position: absolute;
            left: 0;
            top: 15px;
            margin: 0;
            color: #85a3af;
            will-change: top;
            transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
        }

        &-input {
            width: 100%;
            height: 60px;
            padding: 20px 0;
            line-height: 0.75;
            border-bottom: 3px solid #83a2ae;

            &:hover {
                border-bottom-color: #e1e9eb;
            }

            &.active,
            &:focus {
                box-shadow: none;
                border-bottom-color: #e1e9eb;

                +label {
                    font-size: 11px;
                    top: 0;
                }
            }
        }

        &-btn {
            position: absolute;
            left: 50%;
            bottom: -30px;
            font-size: 14px;
            padding: 14px 60px;
            border-radius: 99px;
            white-space: nowrap;
            transform: translateX(-50%);
            background-color: $purple;
            &:hover {
                background-color: darken($purple, 8);
            }
            @include media-breakpoint-up(md) {
                padding: 14px 70px;
            }
        }
    }
}
