.comand {
    &-main {
        position: relative;
        padding: 60px 0 70px 20px;
        background: rgb(159, 203, 221);
        background: linear-gradient(185deg, rgba(159, 203, 221, 1) 0%, rgba(241, 241, 250, 1) 25%, rgba(241, 241, 250, 1) 75%, rgba(229, 189, 231, 1) 100%);

        @media (min-width: 360px) {
            padding-left: 30px;
        }

        @include media-breakpoint-up(md) {
            padding: 75px 0 70px 56px;
        }

        @include media-breakpoint-up(lg) {
            padding-bottom: 60px;
        }

        @include media-breakpoint-up(xl) {
            padding-left: 9%;
        }

        @media (min-width: 1600px) {
            padding-left: 0;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            border: 15px solid #fff;
            border-left-color: #86c1da;
            border-bottom-color: #86c1da;
        }
    }

    &-title {
        position: absolute;
        left: 50%;
        top: -80px;
        padding: 30px 60px;
        border-radius: 99px;
        background-color: #fff;
        transform: translateX(-50%);
        white-space: nowrap;

        @include media-breakpoint-up(lg) {
            top: -70px;
            font-size: 18px;
        }
    }

    &-wrapper {
        position: relative;
        margin: auto;
        max-width: 1685px;
    }

    &-container {
        align-items: stretch;
    }

    &-slider {
        position: relative;
        width: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        will-change: transform;
        -webkit-overflow-scrolling: touch;

        @media (min-width: 1024px) {
            overflow: visible;
        }
        &-btn {
            color: #fff;
            font-size: 18px;
            line-height: .75;
            padding: 20px 30px;
            background-color: #2d9ad7;

            &-container {
                z-index: 2;
                position: absolute;
                top: calc(100% + 40px);
                left: 50%;
                transform: translateX(-50%);
                @media (min-width: 600px) {
                    left: calc(50% - 56px);
                }
            }

            &--prev {

                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
            }

            &--next {
                background-image: linear-gradient(115deg, #5bb0e0 0%, #2d9ad7 50%);
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
            }
        }
    }

    &-item {
        position: relative;
        flex: 0 0 auto;
        margin: 0 10px;
        min-width: 150px;
        transition-property: transform;


        @include media-breakpoint-up(md) {
            min-width: 250px;
        }
    }
}
