<section class="comand-main">
    <h2 class="d-none d-md-block comand-title text-center text-lg-left"><b class="d-block d-lg-inline font-weight-bold">На лекциях - уютная и позитивная атмосфера</b> в компании единомышленников</h2>
    <div class="comand-wrapper">
        <div class="comand-slider">
            <div class="js-comand-slider">
                <div class="comand-container d-flex">
                    {{#each comandList}}
                        <picture class="comand-item d-block">
                            <img src="%=static=%img/assets/index/comand/comand-{{@index}}.{{#if png}}png{{else}}jpg{{/if}}" alt="{{alt}}">
                        </picture>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="comand-slider-btn-container d-flex justify-content-center d-lg-none">
            <button class="comand-slider-btn--prev slick-arrow comand-slider-btn" aria-label="предыдущий" type="button">
                <span class="f-calibri">←</span>
                <span class="d-none d-md-inline">пред.</span>
            </button>
            <button class="comand-slider-btn--next slick-arrow comand-slider-btn" aria-label="следующий" type="button">
                <span class="d-none d-md-inline">след.</span>
                <span class="f-calibri">→</span>
            </button>
        </div>
    </div>
</section>