<div class="preheader-main">
    <div class="container">
        <div class="d-flex justify-content-between d-md-block float-center text-lg-center preheader-phone-container">
            <a href="tel:0547417676" class="preheader-phone d-inline-flex align-items-center">
                {{Icon iconName="phone" className="icon preheader-phone__icon" iconWidth="20" iconHeight="20"}}
                <span class="d-inline-block">054·741·76·76</span>
            </a>
            <button class="d-md-none btn footer__btn text-white link-hovered" type="button" data-fancybox="" data-src="#orderModal"><span>заказать звонок</span></button>
        </div>
    </div>
</div>
<div class="container">
    <div class="header row">
        <div class="header-top--left col-lg-4 col-md-5 col-6">
            <a class="header-logo d-inline-block" href="/">
                <svg class="logo" width="120" height="25">
                    <use xlink:href="#logo"></use>
                </svg>
            </a>
        </div>
        <div class="header-top--middle col-lg-4 col-md-6 col-6 text-right text-md-left text-lg-center">
            <button class="d-none d-md-inline-block btn header-top__btn text-purple" type="button" data-fancybox="" data-src="#orderModal">заказать обратный звонок</button>
            <button class="d-md-none btn header-top__btn text-purple link-hovered text-right" type="button" data-fancybox="" data-src="#messanger"><span>Задать вопрос в<br>мессенджерах</span></button>
        </div>
        <div class="header-top--right col-lg-4 col-md-1 col-12 d-md-block" id="messanger">
            <p class="text-lg-right text-gray font-weight-thin header-top-messanger-title">Задать вопрос в мессенджерах<span class="d-md-none d-lg-inline">:</span><span class="f-calibri d-none d-md-inline d-lg-none">→</span></p>
            <div class="d-lg-flex align-items-lg-center justify-content-lg-end header-top-messanger">
                <a href="viber://chat?number=0547417676" class="header-top__link d-inline-block">
                    {{Icon iconName="viber" className="icon header-top__link-icon" iconWidth="33" iconHeight="33"}}
                </a>
                <a href="tg://msg?text=Здравствуйте, &to=0547417676" class="header-top__link d-inline-block">
                    {{Icon iconName="telegram" className="icon header-top__link-icon" iconWidth="33" iconHeight="33"}}
                </a>
                <a href="whatsapp://send?phone=0547417676" class="header-top__link d-inline-block">
                    {{Icon iconName="whatsapp" className="icon header-top__link-icon" iconWidth="33" iconHeight="33"}}
                </a>
                <!-- необходимо поправить ссылку см. API -->
                <a href="fb-messenger://share/?link= https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fsharing%2Freference%2Fsend-dialog&app_id=123456789" class="header-top__link d-inline-block">
                    {{Icon iconName="messenger" className="icon header-top__link-icon" iconWidth="33" iconHeight="33"}}
                </a>
            </div>
        </div>
    </div>
</div>