.header {
    padding: 40px 0 20px;
    @include media-breakpoint-up(md) {
        padding: 10px 0;
    }
    @include media-breakpoint-up(lg) {
        padding: 55px 0 40px;
    }
    &-top {
        &--right {
            display: none;
            line-height: 0.75;
        }
        &--middle {
            margin-top: -10px;
            @include media-breakpoint-up(md) {
                margin-top: 0;
            }
        }
        &__btn {
            position: relative;
            font-size: 14px;
            line-height: 18px;
            &:hover {
                border-bottom: 1px solid;
            }
            @include media-breakpoint-up(md) {
                font-size: 16px;
                line-height: 0.75;
            }
            @include media-breakpoint-only(md) {
                margin-left: 5%;
                margin-top: 20px;
                border-bottom: 1px solid;
            }
            @include media-breakpoint-up(lg) {
                font-size: 18px;
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: -30px;
                    width: 100%;
                    height: 1px;
                    background-color: #dda6de;
                }
                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: -34px;
                    width: 10px;
                    height: 10px;
                    background-color: #fff;
                    border: 1px solid #dda6de;
                    border-right-color: #fff;
                    border-bottom-color: #fff;
                    transform: translateX(-50%) rotate(45deg);
                }
            }
        }
        &-messanger {
            position: relative;
            @include media-breakpoint-up(lg) {
                margin-top: 15px;
            }
            .fancybox-content & {
                margin-top: 15px;
            }
            &-title {
                @include media-breakpoint-only(md) {
                    position: absolute;
                    top: 50%;
                    right: 140%;
                    right: calc(100% + 40px);
                    line-height: 20px;
                    transform: translateY(-50%);
                }
            }
        }
        &__link {
            padding: 5px;
            line-height: 0.75;
            border-radius: 50%;
            background-color: #f2f2f2;
            &:hover {
                box-shadow: 0 0 2px #0f0c97;
            }
            &:not(:last-child) {
                margin-bottom: 10px;
                @include media-breakpoint-up(lg) {
                    margin-bottom: 0;
                    margin-right: 20px;
                }
                .fancybox-content & {
                    margin-right: 10px;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.logo {
    color: #afafaf;
    @include media-breakpoint-up(md) {
        width: 169px;
        height: 35px
    }
}