.preheader {

    &-main {
        @include media-breakpoint-down(lg) {
            background: rgb(79, 165, 210);
            background: linear-gradient(90deg, rgba(79, 165, 210, 1) 0%, rgba(82, 153, 206, 1) 40%, rgb(130, 109, 190) 100%);
        }

        @include media-breakpoint-down(sm) {
            background: linear-gradient(90deg, rgba(82, 153, 206, 1) 0%, rgb(120, 119, 191) 100%);
        }

        @include media-breakpoint-only(md) {
            clip-path: polygon(0 0, 100% 0, 100% 35%, calc((100 / 12 * 5) * 1% + 240px) 35%, calc((100 / 12 * 5) * 1% + 240px) 100%, calc((100 / 12 * 5) * 1%) 100%, calc((100 / 12 * 5) * 1%) 35%, 0 35%);
        }

        @include media-breakpoint-only(lg) {
            clip-path: polygon(0 0, 100% 0, 100% 35%, 62% 35%, 62% 100%, 38% 100%, 38% 35%, 0 35%);
        }
    }

    &-phone {
        position: relative;
        color: #fff;
        font-size: 19px;
        line-height: 0.8;

        &:hover,
        &:focus {
            color: #fff;
        }

        @include media-breakpoint-up(md) {
            font-size: 24px;
            margin-left: calc((100 / 12 * 5) * 1% + 20px);
        }

        @include media-breakpoint-up(lg) {
            margin-left: 0;
        }

        &-container {
            color: #fff;
            padding: 20px 0;
            line-height: 0.75;

            @include media-breakpoint-up(xl) {
                background: rgb(79, 165, 210);
                background: linear-gradient(90deg, rgba(79, 165, 210, 1) 0%, rgba(82, 153, 206, 1) 40%, rgba(165, 100, 185, 1) 100%);
                clip-path: polygon(0 0, 100% 0, 100% 35%, 62.5% 35%, 62.5% 100%, 37.5% 100%, 37.5% 35%, 0 35%);
            }
        }

        &__icon {
            margin-right: 10px;

            @include media-breakpoint-up(md) {
                margin-right: 20px;
            }
        }
    }
}
