.advantage {
    &-main {
        position: relative;
        padding: 65px 20px 75px;
        background: rgb(159, 203, 221);
        background: linear-gradient(165deg, rgba(159, 203, 221, 1) 0%, rgba(241, 241, 250, 1) 25%, rgba(241, 241, 250, 1) 75%, rgba(229, 189, 231, 1) 100%);

        @media (min-width: 360px) {
            padding-left: 30px;
            padding-right: 30px;
        }

        @include media-breakpoint-up(md) {
            padding: 80px 56px 56px;
        }

        @media (min-width: 720px) {
            padding-left: 112px;
            padding-right: 112px;
        }

        @include media-breakpoint-up(xl) {
            padding: 140px 0 120px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border: 15px solid #fff;
            border-right-color: #86c1da;
            border-bottom-color: #86c1da;
        }
    }

    &-wrapper {
        margin: auto;
        max-width: 1550px;

        @media (min-width: 1240px) and (max-width: 1549px) {
            padding: 0 9%;
        }

        @media (min-width: 1550px) and (max-width: 1649px) {
            padding: 0 3.5%;
        }

        @media (min-width: 1240px) and (max-width: 1549px) {
            overflow: hidden;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &-container {
        @include media-breakpoint-up(md) {
            margin: 0 -28px;
        }
    }

    &-item {
        margin-bottom: 50px;

        @include media-breakpoint-up(md) {
            padding-left: 28px;
            padding-right: 28px;
            margin-bottom: 70px;
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: 0;
            max-width: 200px;
        }

        @media (min-width: 1366px) {
            max-width: 225px;
        }

        &-image {
            max-width: 100px;
            margin-right: 20px;
            clip-path: polygon(0% 0%, 100% 0, 90% 9%, 90% 100%, 0% 100%);

            @include media-breakpoint-up(md) {
                min-width: 170px;
                margin-right: 0;
                margin-bottom: 30px;
                clip-path: polygon(0% 0%, 100% 0, 100% 90%, 4% 90%, 0 100%);
            }
        }

        &-content {
            font-size: 13px;
            margin-top: -7px;

            @include media-breakpoint-up(sm) {
                font-size: 14px;
            }

            @include media-breakpoint-up(md) {
                font-size: 16px;
            }
        }
    }

    &-btn {
        line-height: 1;

        &:hover {
            border-color: #fff;
        }

        &-container {
            position: relative;
            margin-top: 5px;
            line-height: 24px;
            padding-left: 60px;

            @include media-breakpoint-up(md) {
                position: absolute;
                left: 50%;
                bottom: -60px;
                margin-top: 0;
                font-size: 18px;
                padding: 30px 60px;
                border-radius: 99px;
                white-space: nowrap;
                transform: translateX(-50%);
                background-color: #fff;
            }

            @include media-breakpoint-up(lg) {
                bottom: -70px;
                padding: 30px 90px;
            }
        }

        &__text {
            font-size: 18px;

            @include media-breakpoint-up(md) {
                font-size: 16px;
            }
        }

        &__icon {
            margin: 0 10px;

            @include media-breakpoint-up(lg) {
                margin: 0 15px;
            }

            @include media-breakpoint-down(sm) {
                position: absolute;
                left: 0;
            }
        }
    }
}
