<div class="advantage-main">
    <div class="advantage-wrapper">
        <div class="advantage-container row justify-content-center justify-content-xl-between flex-xl-nowrap">
            {{#each advantageList}}
                <div class="advantage-item col-md-6 col-lg-4 col-xl d-flex d-md-block">
                    <picture class="d-block advantage-item-image">
                        <img src="%=static=%img/assets/index/advantage/{{@index}}.jpg" alt="{{alt}}">
                    </picture>
                    <p class="advantage-item-content col">{{{name}}}</p>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="advantage-btn-container d-flex align-items-center flex-wrap flex-md-nowrap">
        <p class="advantage-btn__text text-primary">Первый урок бесплатный,</p>
        {{Icon iconName="pencil" className="advantage-btn__icon icon" iconWidth="32" iconHeight="32"}}
        <button class="advantage-btn text-purple text-underline text-uppercase" type="button" data-fancybox="" data-src="#subscribe">запишитесь сейчас</button>
        <p class="advantage-btn__text text-primary">&nbsp;!</p>
    </div>
</div>