@import 'owl.carousel/src/scss/owl.theme.default';
@import 'owl.carousel/src/scss/owl.carousel';
.slider {
    &__btn {
        &-projects {
            position: absolute;
            top: 35%;
            transform: translateY(-50%);
            background-color: transparent;
            svg {
                fill: $blue;
                width: 12px;
                height: 17px;
            }
            &--prev {
                left: -55px;
                @include media-breakpoint-up(lg) {
                    left: -75px;
                }
                @include media-breakpoint-up(hd) {
                    left: -100px;
                }
            }
            &--next {
                right: -55px;
                @include media-breakpoint-up(lg) {
                    right: -75px;
                }
                @include media-breakpoint-up(hd) {
                    right: -100px;
                }
            }
        }
    }
}