$slick-font-path: "../fonts/";
$slick-loader-path: "../img/plugins/";
@import "slick-carousel/slick/slick-theme.scss";
@import "slick-carousel/slick/slick.scss";
.slider {
    &__btn {
        &-header {
            position: absolute;
            top: 145px;
            padding: 0;
            z-index: 1;
            width: 48px;
            height: 31px;
            padding: 5px;
            color: #bfbfbf;
            transform: translateY(-50%);
            background-color: transparent;
            @include media-breakpoint-down(sm) {
                z-index: 1;
                font-size: 15px;
                span {
                    line-height: .8;
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: right center;
                    background-image: url('%=static=%plugins/btn-mobile-mask.png');
                }
            }
            @include media-breakpoint-between(md, xl) {
                z-index: 1;
                top: 50%;
                padding: 0;
                font-size: 15px;
                width: 30px;
                height: 96px;
                span {
                    line-height: .8;
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: right center;
                    background-image: url('%=static=%assets/header/mask-2.png');
                }
                &--prev {
                    span {
                        transform: translateX(-65%)
                    }
                    &:before {
                        transform: rotate(180deg);
                    }
                }
                &--next {
                    span {
                        transform: translateX(65%)
                    }
                }
            }
            @include media-breakpoint-up(hd) {
                top: 50%;
                width: 60px;
                height: 60px;
                padding: 15px;
                border-radius: 50%;
                border: 1px solid transparent;
                background-color: transparent;
                @include hover-focus {
                    outline: none;
                    border-color: #bfbfbf;
                }
            }
            &--prev {
                left: 32px;
                left: 10%;
                @include media-breakpoint-down(sm) {
                    &:before {
                        left: 0;
                        transform: rotate(180deg);
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: -1px;
                        width: 1px;
                        height: 50%;
                        z-index: 1;
                        background-color: #bfbfbf;
                        transform: translateY(-50%);
                    }
                }
                @include media-breakpoint-up(md) {
                    left: 0px;
                }
                @include media-breakpoint-up(hd) {
                    left: 10px;
                    border-radius: 50%;
                }
            }
            &--next {
                left: 78px;
                left: calc(10% + 46px);
                @include media-breakpoint-down(sm) {
                    &:before {
                        right: 0;
                    }
                }
                @include media-breakpoint-up(md) {
                    right: 0px;
                    left: auto;
                }
                @include media-breakpoint-up(hd) {
                    right: 10px;
                    border-radius: 50%;
                }
            }
        }
        &-about {
            position: absolute;
            top: 50%;
            padding: 0;
            z-index: 1;
            width: 60px;
            height: 60px;
            padding: 15px;
            color: #fff;
            border-radius: 50%;
            transform: translateY(-50%);
            border: 1px solid transparent;
            background-color: #cbcbcb;
            @include hover-focus {
                outline: none;
                border-color: #bfbfbf;
            }
            &--prev {
                display: none !important;
            }
            &--next {
                right: percentage(.5/24);
            }
        }
        &-article {
            position: absolute;
            top: 0;
            border: 0;
            padding: 0;
            z-index: 1;
            width: 60px;
            height: 100%;
            padding: 15px;
            color: #fff;
            background-color: transparent;
            @include hover-focus {
                outline: none;
                background-color: rgba(#bfbfbf, .35);
            }
            &--prev {
                left: 0;
                i {
                    border: 15px solid transparent;
                    border-right: 15px solid #fff;
                    border-left: 0;
                }
            }
            &--next {
                right: 0;
                i {
                    border: 15px solid transparent;
                    border-left: 15px solid #fff;
                    border-right: 0;
                }
            }
        }
        &-sidebar {
            position: absolute;
            left: 0;
            border: 0;
            padding: 0;
            z-index: 1;
            width: 100%;
            height: 70px;
            padding: 15px;
            color: #fff;
            background-color: transparent;
            @include hover-focus {
                outline: none;
                background-color: rgba(#bfbfbf, .35);
            }
            &--prev {
                top: 0;
                i {
                    border: 15px solid transparent;
                    border-bottom: 15px solid #fff;
                    border-top: 0;
                }
            }
            &--next {
                bottom: 0;
                i {
                    border: 15px solid transparent;
                    border-top: 15px solid #fff;
                    border-bottom: 0;
                }
            }
        }
        &-articles {
            position: absolute;
            top: 50%;
            width: 60px;
            height: 60px;
            padding: 15px;
            border-radius: 50%;
            transform: translateY(-50%);
            border: 1px solid transparent;
            background-color: transparent;
            @include hover-focus {
                outline: none;
                border-color: #bfbfbf;
            }
            &--prev {
                left: 15px;
                @include media-breakpoint-up(hd) {
                    left: -35px;
                }
                background-color: #eff5f9;
            }
            &--next {
                right: 15px;
                @include media-breakpoint-up(hd) {
                    right: -35px;
                }
                background-color: #eff5f9;
            }
        }
        @include media-breakpoint-down(sm) {
            &-mobile {
                position: absolute;
                top: 0;
                padding: 0;
                z-index: 1;
                width: 48px;
                height: 33px;
                color: #fff;
                font-size: 14px;
                transform: translateY(-50%);
                background-color: transparent;
                span {
                    line-height: .7;
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: right center;
                    background-image: url('%=static=%plugins/btn-mobile-mask-blue.png');
                }
                &--prev {
                    left: 0;
                    &:before {
                        left: 0;
                        left: 0;
                        transform: rotate(180deg);
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 1px;
                        width: 1px;
                        height: 50%;
                        z-index: 1;
                        background-color: #bfbfbf;
                        transform: translateY(-50%);
                    }
                }
                &--next {
                    left: 45px;
                    &:before {
                        right: 0;
                    }
                }
            }
        }
    }
}