<section class="bottom-main">
    <div class="container">
        <div class="program-container">
            <img src="%=static=%img/assets/index/program/program-bg.png" alt="Цветное перо" class="program-image">
            <div class="program-title-container">
                <h2 class="program-title f-playfair">Программа <br>курса</h2>
            </div>
            <div class="program-articles">
                <div class="program-article d-flex program-article--left">
                    <div class="program-article-image-container img-wrap js-article-img">
                        <img src="%=static=%img/assets/index/program/prog-2.jpg" alt="" class="program-article-image cover-pic">
                    </div>
                    <div class="program-article-content col">
                        <h3 class="program-article-title text-uppercase font-weight-bolder text-primary">ОДИННАДЦАТЬ</h3>
                        <p class="program-article-subtitle font-weight-thin">уроков по полтора часа</p>
                        <p class="program-article-body font-weight-light text-dark-gray">Обучение под руководством лучших <br class="d-none d-md-block">преподавателей Международной Академии <br class="d-none d-md-block">Каббалы</p>
                    </div>
                </div>
                <div class="program-article d-flex program-article--right program-article--second">
                    <div class="program-article-content col text-right text-md-left text-lg-right">
                        <h3 class="program-article-title text-uppercase font-weight-bolder text-primary">ПЕРВЫЙ</h3>
                        <p class="program-article-subtitle font-weight-thin">урок бесплатно</p>
                        <p class="program-article-body font-weight-light text-dark-gray">Мы поможем определиться вам самим - <br class="d-none d-md-block">стоит ли вам заниматься наукой Каббалы <br class="d-none d-md-block">без потерь для ваших финансов</p>
                    </div>
                    <div class="program-article-image-container img-wrap js-article-img">
                        <img src="%=static=%img/assets/index/program/prog-1.jpg" alt="" class="program-article-image cover-pic">
                    </div>
                </div>
                <div class="program-article d-flex program-article--left">
                    <div class="program-article-image-container img-wrap js-article-img">
                        <img src="%=static=%img/assets/index/program/prog-3.jpg" alt="" class="program-article-image cover-pic">
                    </div>
                    <div class="program-article-content col">
                        <h3 class="program-article-title text-uppercase font-weight-bolder text-primary">УДОБНОЕ МЕСТО</h3>
                        <p class="program-article-subtitle font-weight-thin">центре Ашдода</p>
                        <p class="program-article-body font-weight-light text-dark-gray">Занятия будут проходить в <br class="d-none d-md-block">удобном месте в центре Ашдода по понедельникам в <br class="d-none d-md-block">вечернее время, по адресу:</p>
                        
                        <div class="d-flex program-article-coordinate align-items-center">
                            {{Icon iconName="map" className="icon program-article-coordinate__icon" iconWidth="20" iconHeight="20"}}
                            <span>Atsmaut 54, в Ульпан сити</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="theme-container">
            <img src="%=static=%img/assets/index/program/theme-bg.jpg" alt="Девушка читает" class="theme-image d-none d-md-block">
            <div class="d-flex flex-wrap flex-row-reverse flex-lg-row">
                <div class="col-12 col-lg-6 theme-content-container">
                    <h2 class="theme-title">
                        <span class="d-block font-weight-light">Изучаемые</span>
                        <span class="font-weight-bolder text-uppercase">темы курса:</span>
                    </h2>
                    <div class="row theme-list-container">
                        <ul class="col-12 col-md-6 theme-list">
                            <li>Строение мироздания</li>
                            <li>Смысл жизни</li>
                            <li>Природа человека, его желания</li>
                            <li>Восприятие реальности</li>
                            <li>Свобода выбора</li>
                        </ul>
                        <ul class="col-12 col-md-6 theme-list">
                            <li>Основы духовной работы</li>
                            <li>Кругооборот душ</li>
                            <li>Книга Зоар и другие <br>первоисточники</li>
                            <li>Духовный корень <br class="d-none d-md-block">мужского и женского <br class="d-none d-md-block">начала</li>
                            <li>Народ Израиля и его <br class="d-none d-md-block">миссия</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-5 theme-form-container">
                    <form class="theme-form js-theme-form">
                        <h2 class="theme-form-title f-playfair text-primary">Задай <br class="d-none d-lg-block">вопрос</h2>
                        <div class="row">
                            <fieldset class="theme-form-field d-block col-12 col-md-6 col-lg-12 theme-form-field--name">
                                <input class="theme-form-input" id="themeName" type="text" required>
                                <label class="theme-form-label font-weight-thin" for="themeName">Ваше имя</label>
                            </fieldset>
                            <fieldset class="theme-form-field d-block col-12 col-md-6 col-lg-12 theme-form-field--mail">
                                <input class="theme-form-input" id="themeMail" type="email" required>
                                <label class="theme-form-label font-weight-thin" for="themeMail">E-mail</label>
                            </fieldset>
                            <fieldset class="theme-form-field d-block col-12">
                                <label class="theme-form-label theme-form-label--area font-weight-thin" for="themeText">Ваше сообщение</label>
                                <textarea class="theme-form-textarea" id="themeText" ></textarea>
                            </fieldset>
                        </div>
                        <button class="btn theme-form-btn text-white font-weight-light text-uppercase">отправить вопрос</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>