.bottom {
    &-main {
        z-index: 1;
        position: relative;
        padding: 95px 0 140px;

        @include media-breakpoint-up(md) {
            padding: 60px 0 95px;
        }

        @include media-breakpoint-up(lg) {
            padding: 142px 0 135px;
        }
    }
}

.program {
    &-container {
        position: relative;
    }

    &-image {
        position: absolute;
        top: -70px;
        left: -45px;
        z-index: 1;
        max-width: none;

        @include media-breakpoint-down(sm) {
            max-width: 95%;
            top: -65px;
            left: 32%;
        }

        @include media-breakpoint-only(md) {
            max-width: 75%;
            top: -95px;
            left: 27%;
        }

        @include media-breakpoint-only(lg) {
            max-width: 60%;
        }

        @include media-breakpoint-up(lg) {
            z-index: -1;
        }
    }

    &-title {
        font-size: 40px;
        line-height: 40px;
        color: $purple;
        letter-spacing: -2px;

        @include media-breakpoint-up(md) {
            font-size: 50px;
            line-height: 50px;
        }

        &-container {
            margin-bottom: 45px;

            @include media-breakpoint-only(md) {
                margin-bottom: 75px;
            }

            &:before {
                content: '';
                z-index: -2;
                position: absolute;
                top: 35px;
                left: -30px;
                right: -30px;
                height: 1px;
                background-color: #c0e1f3;

                @include media-breakpoint-up(md) {
                    left: percentage(-1/24);
                    right: percentage(-1/24);
                    top: 45px;
                }
            }
        }
    }

    &-articles {
        position: relative;
        margin-left: -20px;
        margin-right: -20px;

        @media (min-width: 360px) {
            margin-left: -30px;
            margin-right: -30px;
        }

        @include media-breakpoint-up(md) {
            margin-left: 0px;
            margin-right: 0px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 0;
            margin-left: calc((100 / 12 * 5) * 1% + 92px);
        }
    }

    &-article {
        &:not(:last-child) {
            margin-bottom: 45px;

            @include media-breakpoint-up(md) {
                margin-bottom: 55px;
            }

            @include media-breakpoint-up(lg) {
                margin-bottom: 90px;
            }
        }

        &--left {
            padding-right: 20px;

            @media (min-width: 360px) {
                padding-right: 30px;
            }

            @include media-breakpoint-up(md) {
                padding-right: 0;
            }

            .program-article-image-container {
                margin-right: 18px;

                @include media-breakpoint-up(md) {
                    margin-right: 40px;
                }

                @include media-breakpoint-up(lg) {
                    margin-right: 25px;
                }

                clip-path: polygon(0% 0%, 100% 0, 85% 7%, 85% 100%, 0% 100%);
            }
        }

        &--right {
            padding-left: 20px;

            @media (min-width: 360px) {
                padding-left: 30px;
            }

            @include media-breakpoint-up(md) {
                padding-left: 0;
            }

            .program-article-image-container {
                margin-left: 18px;

                @include media-breakpoint-up(md) {
                    margin-left: 40px;
                }

                @include media-breakpoint-up(lg) {
                    margin-left: 25px;
                }

                clip-path: polygon(0% 0%, 100% 0, 100% 100%, 15% 100%, 15% 7%);
            }
        }

        &--second {
            @include media-breakpoint-only(md) {
                margin-left: 60px;
                flex-direction: row-reverse;

                .program-article-image-container {
                    margin-left: 0;
                    margin-right: 40px;
                    clip-path: polygon(0% 0%, 100% 0, 85% 7%, 85% 100%, 0% 100%);
                }
            }

            @include media-breakpoint-up(lg) {
                position: absolute;
                top: 41%;
                right: 110%;
                width: 100%;
                transform: translateY(-50%);
            }

            @include media-breakpoint-up(xl) {
                right: 120%;
            }
        }

        &:nth-child(2) {
            .inited {
                transition-delay: .8s;
            }
        }

        &:nth-child(3) {
            .inited {
                transition-delay: 1.7s;
            }
        }

        &-image {
            opacity: 0.7;

            &-container {
                width: 100px;
                height: 150px;
                background-color: #40d1ff;

                &::before {
                    padding-bottom: 150px;
                }

                @include media-breakpoint-up(lg) {
                    width: 0;
                    will-change: width;
                    transition: all 0.75s cubic-bezier(0.58, 0.04, 0.63, 1.41);

                    &.inited {
                        width: 100px;
                    }
                }
            }
        }

        &-title {
            font-size: 26px;
            line-height: 40px;
            margin-top: -10px;
            margin-bottom: -5px;

            @include media-breakpoint-up(md) {
                margin: 0;
                font-size: 40px;
                line-height: 0.75;
                letter-spacing: -2px;
            }

            @include media-breakpoint-up(xl) {
                letter-spacing: -1px;
            }

            @include media-breakpoint-up(xl) {
                letter-spacing: 0;
            }
        }

        &-subtitle {
            font-size: 25px;
            line-height: 30px;
            margin: -5px 0 17px;

            @include media-breakpoint-up(md) {
                font-size: 36px;
                line-height: 0.75;
                margin: 15px 0 30px;
            }
        }

        &-body {
            font-size: 14px;
            line-height: 24px;

            @include media-breakpoint-up(md) {
                font-size: 16px;
            }
        }

        &-coordinate {
            color: #111;
            font-size: 14px;
            margin-top: 10px;
            text-decoration: underline;

            @include media-breakpoint-up(md) {
                font-size: 18px;
                margin-top: 15px;
            }

            &__icon {
                stroke: $purple;
                stroke-width: 3;
                stroke-linecap: round;
                margin-right: 5px;

                @include media-breakpoint-up(md) {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}

.theme {
    &-image {
        z-index: -1;
        position: absolute;
        top: -160px;
        left: -165px;
        max-width: none;

        @include media-breakpoint-only(md) {
            max-width: 137%;
            top: 380px;
            left: 7%;
            transform: scale(-1, 1);
        }

        @include media-breakpoint-only(lg) {
            max-width: 120%;
        }
    }

    &-container {
        position: relative;
        padding-top: 90px;

        @include media-breakpoint-up(lg) {
            padding-top: 220px;
        }
    }

    &-title {
        font-size: 26px;
        line-height: 33px;
        color: $purple;
        letter-spacing: -1px;

        @include media-breakpoint-up(md) {
            font-size: 36px;
            line-height: 45px;
            letter-spacing: 0;
        }
    }

    &-content {
        &-container {
            margin-top: 82px;

            @include media-breakpoint-up(md) {
                margin-top: 75px;
            }

            @include media-breakpoint-up(lg) {
                margin-top: 170px;
            }
        }
    }

    &-list {
        &-container {
            margin-top: 25px;

            @include media-breakpoint-up(md) {
                margin-top: 60px;
            }
        }

        li {
            position: relative;
            font-size: 15px;
            padding-left: 30px;
            margin-bottom: 20px;

            @include media-breakpoint-up(md) {
                font-size: 18px;
                padding-right: 5px;
                margin-bottom: 25px;
            }

            &::before {
                content: '';
                position: absolute;
                left: -5px;
                top: 7.5px;
                border: 5px solid #fff;
                border-top-color: #a2d2ed;
                border-right-color: #2d9ad7;
                transform: rotate(45deg);
            }
        }
    }

    &-form {
        position: relative;
        border: 18px solid rgba(42, 188, 225, .65);
        border-image: linear-gradient(135deg, rgba(42, 188, 225, .575) 0%, rgba(167, 40, 184, .575) 100%);
        border-image-slice: 1;
        padding: 35px calc(56 * 1px - 18px) 55px;
        margin-left: -20px;
        margin-right: -20px;

        @media (min-width: 360px) {
            margin-left: -30px;
            margin-right: -30px;
        }

        @include media-breakpoint-up(md) {
            margin-left: 0;
            margin-right: 0;
            padding: 45px calc(56 * 2px - 38px) 60px;
        }

        @include media-breakpoint-up(lg) {
            padding-top: 55px;
        }

        @include media-breakpoint-up(xl) {
            padding: 65px calc(56 * 2px - 18px) 60px;
        }

        &-container {
            order: -1;

            @include media-breakpoint-up(lg) {
                order: 1;
                margin-left: auto;
                padding-left: 20px;
            }
        }

        &-title {
            font-size: 40px;
            line-height: 40px;
            letter-spacing: -1px;
            margin-bottom: 30px;
            /* компенсация */
            margin-top: -5px;
            margin-left: -3px;

            @include media-breakpoint-up(md) {
                font-size: 50px;
                line-height: 50px;
                letter-spacing: -2px;
                margin-bottom: 40px;
                /* компенсация */
                margin-left: -5px;
            }
        }

        &-field {
            position: relative;
            margin-bottom: 13px;

            &--name {
                @include media-breakpoint-only(md) {
                    padding-right: 20px;
                }
            }

            &--mail {
                @include media-breakpoint-only(md) {
                    padding-left: 20px;
                    label {
                        left: 20px;
                    }
                }
            }
        }

        &-label {
            position: absolute;
            left: 0;
            top: 15px;
            margin: 0;
            color: #85a3af;
            will-change: top;
            transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);

            &--area {
                position: relative;
                top: 0;
                margin: 22px 0;

                @include media-breakpoint-up(md) {
                    margin: 12px 0;
                }
            }
        }

        &-input {
            width: 100%;
            height: 60px;
            padding: 20px 0;
            line-height: 0.75;
            border-bottom: 3px solid #83a2ae;

            &:hover {
                border-bottom-color: #e1e9eb;
            }

            &.active,
            &:focus {
                box-shadow: none;
                border-bottom-color: #e1e9eb;

                +label {
                    font-size: 11px;
                    top: 0;
                }
            }
        }

        &-textarea {
            width: 100%;
            resize: none;
            height: 205px;
            padding: 10px;
            border: 3px solid #83a2ae;

            @include media-breakpoint-up(md) {
                height: 175px;
            }

            @include media-breakpoint-up(lg) {
                height: 140px;
            }
        }

        &-btn {
            position: absolute;
            bottom: -35px;
            left: 50%;
            font-size: 14px;
            padding: 14px 60px;
            border-radius: 99px;
            white-space: nowrap;
            transform: translateX(-50%);
            background-color: $purple;

            &:hover {
                background-color: darken($purple, 8);
            }

            @include media-breakpoint-up(md) {
                padding: 14px 70px;
            }
        }
    }
}
