<section class="banner-main">
    <div class="container">
        <div class="banner-container row justify-content-between">
            <img src="%=static=%img/assets/index/top/bg.png" alt="Курс изучения каббалы" class="banner-image">
            <div class="banner-left col-12 col-lg-5">
                <h1 class="banner-title f-playfair">
                    <span class="banner-title--small d-block">Курс изучения</span>
                    <span class="banner-title--large d-block">каббалы</span>
                </h1>
                <p class="banner-subtitle text-primary">НА РУССКОМ <br class="d-md-none">ЯЗЫКЕ<br>В ХАИФЕ</p>
            </div>
            <div class="banner-right col-12 col-lg-3">
                <div class="banner-date d-flex justify-content-lg-between align-items-end">
                    <div class="banner-date-day text-primary">
                        <span class="f-playfair banner-date-day--large">19</span>
                        <span class="text-uppercase banner-date-day--normal">МАРТА</span>
                    </div>
                    <div class="banner-date-time text-blue font-weight-bold">19:30</div>
                </div>
                <p class="text-gray banner-event-pretitle font-weight-thin">общеобразовательная лекция:</p>
                <div class="banner-event">
                    <p class="banner-event-title text-blue f-playfair">Каббала:</p>
                    <p class="banner-event-subtitle text-blue">ВСЕ ГОВОРЯТ, НО <br class="d-lg-none">НЕМНОГИЕ ЗНАЮТ</p>
                    <div class="d-flex banner-event-coordinate align-items-center">
                        {{Icon iconName="map" className="icon banner-event-coordinate__icon" iconWidth="33"
                        iconHeight="33"}}
                        <span>Израиль, Ашод<br>Atsumaut 54</span>
                    </div>
                    <p class="text-gray font-weight-thin d-none d-lg-block">Небольшое описание лекции, несколько
                        предложений для поднятия интереса. Знания каббалы и понимание фундаментальных законов
                        мироздания позволят научиться управлять своей судьбой</p>
                </div>
            </div>
            <div class="banner-form-container col-12 col-lg-5">
                <form class="banner-form js-banner-form">
                    <h2 class="banner-form-title f-playfair text-primary">Начни <br class="d-none d-lg-block">обучение</h2>
                    <div class="row">
                        <fieldset class="banner-form-field d-block col-12">
                            <input class="banner-form-input" name="bannerName" id="bannerName" type="text" required>
                            <label class="banner-form-label font-weight-thin" for="bannerName">Ваше имя</label>
                        </fieldset>
                        <fieldset class="banner-form-field d-block col-12 col-md-6 col-lg-12 banner-form-field--phone">
                            <input class="banner-form-input js-mask-phone" name="bannerPhone" id="bannerPhone" type="text" required>
                            <label class="banner-form-label font-weight-thin" for="bannerPhone">Номер телефона</label>
                        </fieldset>
                        <fieldset class="banner-form-field d-block col-12 col-md-6 col-lg-12">
                            <input class="banner-form-input" name="bannerMail" id="bannerMail" type="email" required>
                            <label class="banner-form-label font-weight-thin" for="bannerMail">E-mail</label>
                        </fieldset>
                    </div>
                    <button class="btn banner-form-btn text-white text-uppercase">отправить заявку</button>
                </form>
            </div>
        </div>
        <div class="banner-articles">
            <div class="banner-article d-flex banner-article--left">
                <div class="banner-article-image-container img-wrap js-article-img">
                    <img src="%=static=%img/assets/index/top/man.jpg" alt="" class="banner-article-image cover-pic">
                </div>
                <div class="banner-article-content col">
                    <h3 class="banner-article-title text-uppercase font-weight-bolder text-primary">ЭТО</h3>
                    <p class="banner-article-subtitle font-weight-thin">не просто знания</p>
                    <p class="banner-article-body font-weight-light text-dark-gray">Уникальная методика изучения каббалы: <br class="d-none d-md-block">Узнай
                        <span class="f-calibri">→</span> Почувствуй <span class="f-calibri">→</span> Постигни</p>
                </div>
            </div>
            <div class="banner-article d-flex banner-article--right banner-article--second">
                <div class="banner-article-content col text-right text-md-left text-lg-right">
                    <h3 class="banner-article-title text-uppercase font-weight-bolder text-primary">УПРАВЛЕНИЕ</h3>
                    <p class="banner-article-subtitle font-weight-thin">своей жизнью</p>
                    <p class="banner-article-body font-weight-light text-dark-gray">Знания каббалы и понимание <br class="d-md-none d-lg-block">фундаментальных
                        законов <br class="d-md-none d-lg-block">мироздания позволят научиться <br class="d-md-none d-lg-block">управлять своей судьбой</p>
                </div>
                <div class="banner-article-image-container img-wrap js-article-img js-article-img">
                    <img src="%=static=%img/assets/index/top/control.jpg" alt="" class="banner-article-image cover-pic">
                </div>
            </div>
            <div class="banner-article d-flex banner-article--left">
                <div class="banner-article-image-container img-wrap js-article-img">
                    <img src="%=static=%img/assets/index/top/practic.jpg" alt="" class="banner-article-image cover-pic">
                </div>
                <div class="banner-article-content col">
                    <h3 class="banner-article-title text-uppercase font-weight-bolder text-primary">КАББАЛА</h3>
                    <p class="banner-article-subtitle font-weight-thin">на практике, прямо </p>
                    <p class="banner-article-body font-weight-light text-dark-gray">Применение каббалистических знаний на <br>практике
                        уже во время курса</p>
                </div>
            </div>
        </div>
    </div>
</section>
