.banner {
    &-main {
        margin-bottom: 70px;

        @include media-breakpoint-up(md) {
            margin-bottom: 80px;
        }

        @include media-breakpoint-only(md) {
            margin-top: -130px;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 160px;
        }
    }

    &-image {
        position: absolute;
        top: 0;
        left: 54.5%;
        max-width: none;
        transform: translateX(-50%);

        @include media-breakpoint-down(sm) {
            max-width: 200%;
            top: 20px;
            left: 98%;
        }

        @include media-breakpoint-only(md) {
            max-width: 160%;
            top: 40px;
            left: 69%;
        }

        @include media-breakpoint-only(lg) {
            top: 50px;
            max-width: 100%;
        }
    }

    &-container {
        position: relative;
        z-index: 0;

        @include media-breakpoint-up(lg) {
            &:before {
                content: '';
                z-index: -1;
                position: absolute;
                left: percentage(-1/24);
                right: percentage(-1/24);
                top: 79px;
                height: 1px;
                background-color: #bbd5eb;
            }
        }
    }

    &-right {
        padding-top: 35px;

        @include media-breakpoint-up(md) {
            padding-top: 46px;
        }

        @include media-breakpoint-up(lg) {
            padding-top: 44px;
        }
    }

    &-title {
        color: $primary;

        &--small {
            font-size: 30px;
            line-height: 22px;
            letter-spacing: -2.5px;

            @include media-breakpoint-up(lg) {
                font-size: 50px;
                line-height: 45px;
                letter-spacing: -3px;
            }
            @include media-breakpoint-up(xl) {
                letter-spacing: -4px
            }
        }

        &--large {
            font-size: 60px;
            line-height: 60px;
            letter-spacing: -4.5px;
            margin-left: -6px;

            @include media-breakpoint-up(md) {
                margin-left: 0;
                font-size: 75px;
                letter-spacing: -7.5px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 118px;
                line-height: 90px;
                letter-spacing: -9.5px;
            }
        }
    }

    &-subtitle {
        font-size: 16px;
        margin-top: 30px;
        line-height: 23px;
        letter-spacing: 1.6px;

        @include media-breakpoint-up(md) {
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 4px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 58px;
        }
    }

    &-date {
        margin-bottom: 5px;

        @include media-breakpoint-up(lg) {
            font-size: 22px;
            margin-bottom: 18px;
        }

        &-day {
            &--large {
                font-size: 40px;
                line-height: 20px;
                margin-left: -6px;
                letter-spacing: -1px;

                @include media-breakpoint-up(md) {
                    margin-left: 0;
                    margin-right: 10px;
                    letter-spacing: -4px;
                }

                @include media-breakpoint-up(lg) {
                    font-size: 60px;
                }
            }

            &--normal {
                margin-right: 15px;
                letter-spacing: 2px;

                @include media-breakpoint-up(lg) {
                    letter-spacing: 5px;
                }
            }
        }

        &-time {
            @include media-breakpoint-down(md) {
                font-size: 20px;
                letter-spacing: 1px;
            }
        }
    }

    &-event {
        @include media-breakpoint-up(xl) {
            margin-left: 56px;
        }

        &-pretitle {
            font-size: 10px;

            @include media-breakpoint-up(md) {
                font-size: 12px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 16px;
            }
        }

        &-title {
            font-size: 40px;
            margin-top: 4px;
            line-height: 1.5;
            margin-left: -4px;
            letter-spacing: -3px;

            @include media-breakpoint-up(md) {
                margin-top: 0;
                margin-left: 0;
                font-size: 60px;
                line-height: 1.4;
                letter-spacing: -5px;
            }

            @include media-breakpoint-up(lg) {
                line-height: 1.5;
            }
        }

        &-subtitle {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 1.7px;

            @include media-breakpoint-up(md) {
                font-size: 18px;
                line-height: 1.85;
                letter-spacing: 2.5px;

            }

            @include media-breakpoint-up(lg) {
                margin-left: -2px;
                line-height: 1.75;
                letter-spacing: 4px;
            }
        }

        &-coordinate {
            margin: 11px 0;

            @include media-breakpoint-up(md) {
                margin: 15px 0;
            }

            @include media-breakpoint-up(lg) {
                margin: 30px 0;
            }

            &__icon {
                margin-right: 15px;
                stroke-width: 3;
                stroke-linecap: round;
                stroke: #a7a5a6;
            }
        }
    }

    &-form {
        position: relative;
        border: 18px solid rgba(42, 188, 225, .65);
        border-image: linear-gradient(135deg, rgba(42, 188, 225, .575) 0%, rgba(167, 40, 184, .575) 100%);
        border-image-slice: 1;
        padding: 40px calc(56 * 1px - 18px) 45px;
        margin-left: -20px;
        margin-right: -20px;

        @media (min-width: 360px) {
            margin-left: -30px;
            margin-right: -30px;
        }

        @include media-breakpoint-up(md) {
            margin-left: 0;
            margin-right: 0;
            padding: 55px calc(56 * 2px - 38px) 60px;
        }

        @include media-breakpoint-up(xl) {
            padding: 50px calc(56 * 2px - 18px) 65px;
        }

        &-container {
            margin-top: 50px;

            @include media-breakpoint-up(lg) {
                margin-top: -205px;
                padding-right: 20px;
            }
        }

        &-title {
            font-size: 40px;
            line-height: 40px;
            letter-spacing: -1px;
            margin-bottom: 30px;
            /* компенсация */
            margin-top: -5px;
            margin-left: -3px;

            @include media-breakpoint-up(md) {
                font-size: 50px;
                line-height: 50px;
                letter-spacing: -2px;
                margin-bottom: 40px;
                /* компенсация */
                margin-left: -5px;
            }
        }

        &-field {
            position: relative;
            margin-bottom: 13px;

            &--phone {
                @include media-breakpoint-only(md) {
                    padding-right: 30px;
                }
            }
        }

        &-label {
            position: absolute;
            left: 0;
            top: 15px;
            margin: 0;
            color: #85a3af;
            will-change: top;
            transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
        }

        &-input {
            width: 100%;
            height: 60px;
            padding: 20px 0;
            line-height: 0.75;
            border-bottom: 3px solid #83a2ae;
            background-position: 100% 50%;
            background-repeat: no-repeat;

            &:hover {
                border-bottom-color: #e1e9eb;
            }

            &.active,
            &:focus {
                box-shadow: none;
                border-bottom-color: #e1e9eb;

                +label {
                    font-size: 11px;
                    top: 0;
                }
            }

            &:valid:not(:focus) {
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAPCAYAAAA/I0V3AAAA6UlEQVQokZXRLyyFURzG8Y/X688VjDu7WVJUZFWxSZpNdo16oyJQTDGbCTblstkkU2kkwQSKKZJoYxfB793enfmz90nPnud8zzm/c7rao8cqqpZVJTBWFZrGRxWohkm8lKGef6B5vOMpwxy2cYjuX4BhzOAGcoxgOcprbPwALWAQl5BhD7tRrmE8Aepo4gxvBfSJrQj6sR95oVXfj3BSBEV5h53wU1iJ+RpYwgUeUwhaeAi/jonI6jgo3zcv+VfM4goDOMVQbHRehtLPvcVizNlAb5zS+QuCNjbDd3CULsjTINTCM/pwn5ZfzkMpl5D0ZpcAAAAASUVORK5CYII=);
            }
        }

        &-btn {
            position: absolute;
            bottom: -35px;
            left: 50%;
            font-size: 14px;
            padding: 14px 60px;
            border-radius: 99px;
            white-space: nowrap;
            transform: translateX(-50%);
            background-color: $purple;
            &:hover {
                background-color: darken($purple, 8);
            }

            @include media-breakpoint-up(md) {
                font-size: 16px;
                padding: 14px 70px;
            }
        }
    }

    &-articles {
        position: relative;
        margin-top: 80px;
        margin-left: -20px;
        margin-right: -20px;

        @media (min-width: 360px) {
            margin-left: -30px;
            margin-right: -30px;
        }

        @include media-breakpoint-up(md) {
            margin-left: 0;
            margin-right: 0;
            margin-top: 95px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 0;
            margin-left: calc((100 / 12 * 5) * 1% + 92px);
        }
    }

    &-article {
        &:not(:last-child) {
            margin-bottom: 70px;

            @include media-breakpoint-up(md) {
                margin-bottom: 65px;
            }

            @include media-breakpoint-up(lg) {
                margin-bottom: 90px;
            }
        }

        &--left {
            padding-right: 20px;

            @media (min-width: 360px) {
                padding-right: 30px;
            }

            @include media-breakpoint-up(md) {
                padding-right: 0;
            }

            .banner-article-image-container {
                margin-right: 18px;
                clip-path: polygon(0% 0%, 100% 0, 85% 9%, 85% 100%, 0% 100%);

                @include media-breakpoint-up(md) {
                    margin-right: 50px;
                }

                @include media-breakpoint-up(lg) {
                    margin-right: 30px;
                }
            }
        }

        &--right {
            padding-left: 20px;

            @media (min-width: 360px) {
                padding-left: 30px;
            }

            @include media-breakpoint-up(md) {
                padding-left: 0;
            }

            .banner-article-image-container {
                margin-left: 18px;
                clip-path: polygon(0% 0%, 100% 0, 100% 100%, 15% 100%, 15% 9%);

                @include media-breakpoint-up(lg) {
                    margin-left: 30px;
                }
            }
        }

        &--second {
            @include media-breakpoint-only(md) {
                margin-left: 60px;
                flex-direction: row-reverse;

                .banner-article-image-container {
                    margin-left: 0;
                    margin-right: 50px;
                    clip-path: polygon(0% 0%, 100% 0, 85% 7%, 85% 100%, 0% 100%);
                }
            }

            @include media-breakpoint-up(lg) {
                position: absolute;
                top: 55%;
                right: 110%;
                width: 100%;
                transform: translateY(-50%);
            }

            @include media-breakpoint-up(xl) {
                right: 120%;
            }
        }
        &:nth-child(2) {
            .inited {
                transition-delay: .8s;
            }
        }
        &:nth-child(3) {
            .inited {
                transition-delay: 1.7s;
            }
        }

        &-image {
            opacity: 0.7;
            &-container {
                width: 100px;
                height: 150px;
                background-color: #40d1ff;
                &::before {
                    padding-bottom: 150px;
                }
                @include media-breakpoint-up(lg) {
                    width: 0;
                    will-change: width;
                    transition: all 0.75s cubic-bezier(0.58, 0.04, 0.63, 1.41);
                    &.inited {
                        width: 100px;
                    }
                }
            }
        }

        &-title {
            font-size: 30px;
            line-height: 0.75;

            @include media-breakpoint-up(md) {
                font-size: 45px;
            }
        }

        &-subtitle {
            font-size: 25px;
            line-height: 33px;
            margin: 5px 0 13px;

            @include media-breakpoint-up(md) {
                font-size: 36px;
                line-height: 0.75;
                margin: 15px 0 30px;
            }
        }

        &-body {
            font-size: 14px;
            line-height: 24px;

            @include media-breakpoint-up(md) {
                font-size: 16px;
            }
        }
    }
}
